# Explore with Pandas

In [5]:
import pandas as pd
display(pd.__version__)

#%load_ext autoreload
#%autoreload 2

from cell_profiler import cell_profiler as cp
%start_cell_profiler
#import ipython_memory_usage as imu
#%ipython_memory_usage_start

'2.0.1'

'Profiling enabled'

In [5] used 0.0 MiB RAM in 0.10s (system mean cpu 2%, single max cpu 5%), peaked 0.0 MiB above final usage, current RAM usage now 143.2 MiB

In [6]:
import os
import glob

DATA_FOLDER = '/home/ian/workspace/data/anonymised_mot_tests'
DATA_FOLDER = os.path.join(DATA_FOLDER, 'test_result_2021')
#DATA_FOLDER

files = glob.glob(DATA_FOLDER+"/test_result_*.csv")
filename = files[0]
DATA_FOLDER, files

('/home/ian/workspace/data/anonymised_mot_tests/test_result_2021',
 ['/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32355.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32361.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32372.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32367.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32365.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32386.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32357.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32378.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32370.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32360.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32384.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32375.csv'])

In [6] used 0.0 MiB RAM in 0.10s (system mean cpu 3%, single max cpu 10%), peaked 0.0 MiB above final usage, current RAM usage now 143.2 MiB

In [7]:
df = pd.read_csv(filename)

In [7] used 416.0 MiB RAM in 2.87s (system mean cpu 9%, single max cpu 100%), peaked 289.0 MiB above final usage, current RAM usage now 559.2 MiB

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3362528 entries, 0 to 3362527
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   test_id            int64
 1   vehicle_id         int64
 2   test_date          object
 3   test_class_id      int64
 4   test_type          object
 5   test_result        object
 6   test_mileage       float64
 7   postcode_area      object
 8   make               object
 9   model              object
 10  colour             object
 11  fuel_type          object
 12  cylinder_capacity  float64
 13  first_use_date     object
dtypes: float64(2), int64(3), object(9)
memory usage: 359.2+ MB
In [8] used 0.0 MiB RAM in 0.11s (system mean cpu 3%, single max cpu 6%), peaked 0.0 MiB above final usage, current RAM usage now 559.2 MiB

In [9]:
f"{df.memory_usage(deep=True).sum():,} bytes"

'2,005,492,851 bytes'

In [9] used 0.0 MiB RAM in 1.67s (system mean cpu 7%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 559.2 MiB

In [10]:
df.sample(5)

,test_id,vehicle_id,test_date,test_class_id,test_type,test_result,test_mileage,postcode_area,make,model,colour,fuel_type,cylinder_capacity,first_use_date
505531,924429767,667608259,2021-02-22,4,NT,P,21839.0,CV,LAND ROVER,DEFENDER,YELLOW,PE,4999.0,2015-11-30
2964950,362248785,217167112,2021-11-16,4,RT,P,130932.0,HP,BMW,116,BLACK,PE,1596.0,2009-09-28
336796,397226957,316556401,2021-02-03,4,NT,P,56107.0,CB,FORD,B-MAX,GREY,PE,1596.0,2014-02-28
63187,486140371,573879724,2021-01-08,4,RT,P,119189.0,DN,FORD,TRANSIT CONNECT,WHITE,DI,1753.0,2010-03-25
2178533,21513473,1278598806,2021-09-09,2,NT,P,84951.0,SY,BMW,K75,RED,PE,750.0,1989-08-01

In [10] used 26.9 MiB RAM in 0.17s (system mean cpu 8%, single max cpu 70%), peaked 0.0 MiB above final usage, current RAM usage now 586.1 MiB

In [11]:
#pd.to_datetime(df['first_use_date'])


#OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 4-02-20 00:00:00, at position 904021. You might want to try:
#    - passing `format` if your strings have a consistent format;
#    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
#    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [11] used 0.0 MiB RAM in 0.10s (system mean cpu 2%, single max cpu 10%), peaked 0.0 MiB above final usage, current RAM usage now 586.1 MiB

In [12]:
#pd.to_datetime(df['test_date']) # this field converts ok

In [12] used 0.0 MiB RAM in 0.10s (system mean cpu 18%, single max cpu 50%), peaked 0.0 MiB above final usage, current RAM usage now 586.1 MiB

In [13]:
df_shrink = df.copy()

In [13] used 359.4 MiB RAM in 0.25s (system mean cpu 7%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 945.5 MiB

In [14]:
cat_cols = ['test_class_id', 'test_type', 'test_result', 'postcode_area', 'make', 'model', 'colour', 'fuel_type']
for cat_col in cat_cols:
    df_shrink[cat_col] = df[cat_col].astype('category')

In [14] used 16.1 MiB RAM in 1.00s (system mean cpu 8%, single max cpu 100%), peaked 31.4 MiB above final usage, current RAM usage now 961.7 MiB

In [15]:
f"{df_shrink.memory_usage(deep=True).sum():,} bytes"

'593,478,040 bytes'

In [15] used 0.0 MiB RAM in 0.41s (system mean cpu 5%, single max cpu 89%), peaked 0.0 MiB above final usage, current RAM usage now 961.7 MiB

In [16]:
df_shrink.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3362528 entries, 0 to 3362527
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   test_id            int64
 1   vehicle_id         int64
 2   test_date          object
 3   test_class_id      category
 4   test_type          category
 5   test_result        category
 6   test_mileage       float64
 7   postcode_area      category
 8   make               category
 9   model              category
 10  colour             category
 11  fuel_type          category
 12  cylinder_capacity  float64
 13  first_use_date     object
dtypes: category(8), float64(2), int64(2), object(2)
memory usage: 186.7+ MB
In [16] used 0.8 MiB RAM in 0.11s (system mean cpu 5%, single max cpu 18%), peaked 0.0 MiB above final usage, current RAM usage now 962.5 MiB

In [17]:
%time df['fuel_type'].value_counts()

CPU times: user 91.4 ms, sys: 1.21 ms, total: 92.6 ms
Wall time: 91.4 ms

fuel_type
PE    1762204
DI    1537930
HY      48346
EL       9372
OT       2368
LP       1106
ED       1013
GB         90
FC         60
CN         16
GA         13
GD          7
ST          2
LN          1
Name: count, dtype: int64

In [17] used 0.0 MiB RAM in 0.20s (system mean cpu 7%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 962.5 MiB

In [18]:
import pandera as pa

In [18] used 34.9 MiB RAM in 0.37s (system mean cpu 34%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 997.4 MiB

In [19]:
sample = df.sample(10000)
schema = pa.infer_schema(sample)
print(schema.to_script())

from pandera import DataFrameSchema, Column, Check, Index, MultiIndex

schema = DataFrameSchema(
    columns={
        "test_id": Column(
            dtype="int64",
            checks=[
                Check.greater_than_or_equal_to(min_value=218841.0),
                Check.less_than_or_equal_to(max_value=1999850089.0),
            ],
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "vehicle_id": Column(
            dtype="int64",
            checks=[
                Check.greater_than_or_equal_to(min_value=52722.0),
                Check.less_than_or_equal_to(max_value=1499903019.0),
            ],
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "test_date": Column(
            dtype="object",
            checks=None,
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "test_class_id": Column(
            dtype="int64",
            checks=[
                Check.greater_than_or_equal_to(min_value=1.0),
                Check.less_than_or_equal_to(max_value=7.0),
            ],
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "test_type": Column(
            dtype="object",
            checks=None,
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "test_result": Column(
            dtype="object",
            checks=None,
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "test_mileage": Column(
            dtype="float64",
            checks=[
                Check.greater_than_or_equal_to(min_value=7.0),
                Check.less_than_or_equal_to(max_value=952324.0),
            ],
            nullable=True,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "postcode_area": Column(
            dtype="object",
            checks=None,
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "make": Column(
            dtype="object",
            checks=None,
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "model": Column(
            dtype="object",
            checks=None,
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "colour": Column(
            dtype="object",
            checks=None,
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "fuel_type": Column(
            dtype="object",
            checks=None,
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "cylinder_capacity": Column(
            dtype="float64",
            checks=[
                Check.greater_than_or_equal_to(min_value=49.0),
                Check.less_than_or_equal_to(max_value=12809.0),
            ],
            nullable=True,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "first_use_date": Column(
            dtype="object",
            checks=None,
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
    },
    checks=None,
    index=Index(
        dtype="int64",
        checks=[
            Check.greater_than_or_equal_to(min_value=125.0),
            Check.less_than_or_equal_to(max_value=3362428.0),
        ],
        nullable=False,
        coerce=False,
        name=None,
        description=None,
        title=None,
    ),
    dtype=None,
    coerce=True,
    strict=False,
    name=None,
    ordered=False,
    unique=None,
    report_duplicates="all",
    unique_column_names=False,
    title=None,
    description=None,
)

In [19] used 46.2 MiB RAM in 0.58s (system mean cpu 8%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 1043.6 MiB

In [20]:
from pandera import DataFrameSchema, Column, Check, Index, MultiIndex
from pandera.errors import SchemaErrors

VALID_TEST_RESULT = set(['P', 'F', 'PRS', 'ABR', 'ABA', 'ABRVE'])
VALID_TEST_TYPE = set(['NT', 'RT', 'ES'])
VALID_COLOUR = set(['BLACK', 'WHITE', 'SILVER', 'BLUE', 'GREY', 'RED', 'GREEN', 'ORANGE', 'YELLOW', 'BEIGE', \
                   'BROWN', 'PURPLE', 'GOLD', 'BRONZE', 'MAROON','TURQUOISE', 'CREAM', 'PINK', 'MULTI-COLOUR', 'NOT STATED'])
VALID_FUEL_TYPE = set(['PE', 'DI', 'HY', 'EL', 'OT', 'LP', 'ED', 'GB', 'FC', 'CN', 'GA', 'GD','ST', 'LN'])

# by default Column has nullable, coerce, unique, refex == False
# title is not needed nor description

# other checks?
# test_mileage 5th percentile > xxx as most should be "sensible"
# postcode_area xx very rare
# cylinder_capacity typically more than ...
# first_use_date > ... something reasonable


schema = DataFrameSchema(
    columns={
        "test_id": Column(
            dtype="int64",
            checks=[
                #Check.greater_than_or_equal_to(min_value=31563.0),
                #Check.less_than_or_equal_to(max_value=1999897323.0),
            ],
        ),
        "vehicle_id": Column(
            dtype="int64",
            checks=[
                #Check.greater_than_or_equal_to(min_value=108275.0),
                #Check.less_than_or_equal_to(max_value=1499704119.0),
            ],
        ),
        "test_date": Column(
            dtype="object",
        ),
        "test_class_id": Column(
            dtype="int64",
            checks=[
                Check.greater_than_or_equal_to(min_value=1.0),
                Check.less_than_or_equal_to(max_value=7.0),
            ],
        ),
        "test_type": Column(
            dtype="object",
            checks=[pa.Check(lambda s: s.isin(VALID_TEST_TYPE))],
        ),
        "test_result": Column(
            dtype="object",
            checks=[Check(lambda s: s.isin(VALID_TEST_RESULT)),
                    # we normally see 75% pass rate, so test >60%
                    Check(lambda ser: ((ser == 'P').sum() / ser.size) > 0.6)],
        ),
        "test_mileage": Column(
            dtype="float64",
            checks=[
                # we do get 1-10 miles on the clock!
                Check.greater_than_or_equal_to(min_value=1.0),
                Check.less_than_or_equal_to(max_value=999999.0),
            ],
            nullable=True,
        ),
        "postcode_area": Column(
            dtype="object",
            checks=None,
        ),
        "make": Column(
            dtype="object",
            nullable=True,
            checks=[pa.Check(lambda ser: ser.isnull().sum() <= 5)]
        ),
        "model": Column(
            dtype="object",
        ),
        "colour": Column(
            dtype="object",
            checks=[pa.Check(lambda s: s.isin(VALID_COLOUR))],
        ),
        "fuel_type": Column(
            dtype="object",
            checks=[Check(lambda s: s.isin(VALID_FUEL_TYPE))],
        ),
        "cylinder_capacity": Column(
            dtype="float64",
            checks=[
                Check.greater_than_or_equal_to(min_value=0.0),
                Check.less_than_or_equal_to(max_value=60000.0),
            ],
            nullable=True,
        ),
        "first_use_date": Column(
            dtype="object",
        ),
    },
    checks=None,
    index=Index(
        dtype="int64",
        checks=[
            #Check.greater_than_or_equal_to(min_value=1030.0),
            #Check.less_than_or_equal_to(max_value=3362152.0),
        ],
    ),
    dtype=None,
    coerce=True,
    strict=False,
    name=None,
    ordered=False,
    unique=None,
    report_duplicates="all",
    unique_column_names=False,
    title=None,
    description=None,
)

try:
    schema.validate(df, lazy=True)
except SchemaErrors as err:
    print(err.failure_cases)  # dataframe of schema errors
    print(err.data)  # invalid dataframe

In [20] used 410.8 MiB RAM in 1.76s (system mean cpu 7%, single max cpu 100%), peaked 209.8 MiB above final usage, current RAM usage now 1454.4 MiB

# Some investigation

In [21]:
df['fuel_type'].value_counts().keys()
# ST steam? GD GA LN GB FC?

Index(['PE', 'DI', 'HY', 'EL', 'OT', 'LP', 'ED', 'GB', 'FC', 'CN', 'GA', 'GD',
       'ST', 'LN'],
      dtype='object', name='fuel_type')

In [21] used 0.1 MiB RAM in 0.20s (system mean cpu 7%, single max cpu 56%), peaked 0.0 MiB above final usage, current RAM usage now 1454.5 MiB

In [22]:
df['test_type'].value_counts()

test_type
NT    2779739
RT     582785
ES          4
Name: count, dtype: int64

In [22] used 0.1 MiB RAM in 0.19s (system mean cpu 0%, single max cpu 0%), peaked 0.0 MiB above final usage, current RAM usage now 1454.6 MiB

In [23]:
df['test_result'].value_counts()

test_result
P        2532720
F         637610
PRS       173390
ABR        16860
ABA         1943
ABRVE          5
Name: count, dtype: int64

In [23] used 0.0 MiB RAM in 0.17s (system mean cpu 0%, single max cpu 0%), peaked 0.0 MiB above final usage, current RAM usage now 1454.6 MiB

In [24]:
df.describe()

,test_id,vehicle_id,test_class_id,test_mileage,cylinder_capacity
count,3.362528e+06,3.362528e+06,3.362528e+06,3.337324e+06,3.354378e+06
mean,1.000234e+09,7.503363e+08,4.026887e+00,7.414440e+04,1.711889e+03
std,5.770968e+08,4.330425e+08,6.206862e-01,4.875133e+04,6.041044e+02
min,4.850000e+02,2.900000e+02,1.000000e+00,1.000000e+00,0.000000e+00
25%,5.006305e+08,3.755046e+08,4.000000e+00,3.762400e+04,1.349000e+03
50%,1.000133e+09,7.503748e+08,4.000000e+00,6.565300e+04,1.598000e+03
75%,1.499843e+09,1.125506e+09,4.000000e+00,1.007630e+05,1.995000e+03
max,2.000000e+09,1.500000e+09,7.000000e+00,9.999990e+05,5.000700e+04

In [24] used 0.4 MiB RAM in 0.41s (system mean cpu 8%, single max cpu 100%), peaked 128.1 MiB above final usage, current RAM usage now 1455.0 MiB

## can we get median cylinder values?

In [25]:
# lots of NaN values!
%time df.groupby('make')['cylinder_capacity'].median().sort_values().dropna()

CPU times: user 167 ms, sys: 11.8 ms, total: 178 ms
Wall time: 176 ms

make
ALVIS SPEED 25 SB        0.0
ERIDER                   0.0
NANFANG NF50-A          48.5
DIRECT                  49.0
LINTEX                  49.0
                      ...
EOS COACH            10964.0
AEC MILITANT         11600.0
FODEN                12000.0
PETERBILT            14000.0
NEOPLAN              14500.0
Name: cylinder_capacity, Length: 1998, dtype: float64

In [25] used -25.4 MiB RAM in 0.28s (system mean cpu 7%, single max cpu 100%), peaked 50.9 MiB above final usage, current RAM usage now 1429.6 MiB

In [26]:
df['make'].value_counts().loc['NEOPLAN']

1

In [26] used 0.0 MiB RAM in 0.19s (system mean cpu 7%, single max cpu 60%), peaked 0.0 MiB above final usage, current RAM usage now 1429.6 MiB

In [27]:
agg_result = df.groupby('make')['cylinder_capacity'].agg(['median', 'size'])
#agg_result.query('size > 10').dropna().sort_values('median')
agg_result.query('size == 1').sort_index()

                     median  size
make
.                    1998.0     1
150 STAR              150.0     1
1VECO                   NaN     1
A M GERENAL          6500.0     1
A.J.S.                650.0     1
...                     ...   ...
ZHEZIANG SPY250F1     249.0     1
ZIL 131              6000.0     1
ZONGSHEN RANGER 125   124.0     1
ZONGSHEN SPY F1 250   250.0     1
ZY MOTOR                NaN     1

[1346 rows x 2 columns]

In [27] used -384.8 MiB RAM in 0.40s (system mean cpu 9%, single max cpu 100%), peaked 435.9 MiB above final usage, current RAM usage now 1044.8 MiB

# Check for high outliers

In [28]:
%time df.query('test_mileage > 900000')

CPU times: user 35.4 ms, sys: 3.11 ms, total: 38.5 ms
Wall time: 22.1 ms

,test_id,vehicle_id,test_date,test_class_id,test_type,test_result,test_mileage,postcode_area,make,model,colour,fuel_type,cylinder_capacity,first_use_date
48466,1108568485,1224975303,2021-01-07,5,NT,P,985643.0,L,DAF,UNCLASSIFIED,MULTI-COLOUR,DI,5900.0,2006-04-11
60488,672464823,113771524,2021-01-08,4,NT,F,999999.0,EX,PEUGEOT,406,MAROON,PE,1997.0,2012-01-16
85439,164383885,442025378,2021-01-11,4,RT,P,915321.0,MK,VAUXHALL,COMBO,WHITE,DI,1686.0,2007-12-31
99095,1764557687,1440326550,2021-01-12,7,NT,P,956596.0,IP,LDV,MAXUS,SILVER,DI,2499.0,2007-07-27
115938,786258681,1405447220,2021-01-13,7,RT,P,948958.0,PL,LDV,MAXUS,RED,DI,2500.0,2008-04-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3266265,1995218387,1468720309,2021-12-14,7,NT,PRS,991911.0,E,MERCEDES-BENZ,SPRINTER,BLUE,DI,2700.0,2002-10-28
3296449,1312308563,1008360357,2021-12-17,4,NT,P,991376.0,DL,CITROEN,NEMO,WHITE,DI,1248.0,2015-07-08
3334786,598534645,693775344,2021-12-21,7,NT,PRS,970110.0,LE,LDV,MAXUS,WHITE,DI,2499.0,2008-05-23
3354163,213916469,589020394,2021-12-29,4,RT,P,920120.0,HU,VOLKSWAGEN,POLO,BLACK,PE,1198.0,2007-12-20
3354834,1649383403,1111350058,2021-12-30,4,NT,F,932344.0,NW,VOLKSWAGEN,GOLF,BLACK,PE,1390.0,2010-06-06

In [28] used 0.0 MiB RAM in 0.13s (system mean cpu 12%, single max cpu 73%), peaked 4.0 MiB above final usage, current RAM usage now 1044.8 MiB

In [29]:
%time df.query('cylinder_capacity > 20000').sort_values('cylinder_capacity', ascending=False)

CPU times: user 20.8 ms, sys: 8.53 ms, total: 29.3 ms
Wall time: 14.1 ms

,test_id,vehicle_id,test_date,test_class_id,test_type,test_result,test_mileage,postcode_area,make,model,colour,fuel_type,cylinder_capacity,first_use_date
2971964,269712991,1347489287,2021-11-17,4,RT,P,206903.0,UB,DODGE,RAM,BLACK,PE,50007.0,2015-03-11
1595211,1209201737,764415083,2021-07-09,4,NT,P,800.0,TR,CHEVROLET,UNCLASSIFIED,GREEN,PE,35400.0,2020-10-01
2847725,448570249,1071738607,2021-11-06,4,NT,P,123360.0,LL,VOLKSWAGEN,TOUAREG,SILVER,DI,28890.0,2019-07-23
359713,524049153,342455707,2021-02-05,4,RT,F,61230.0,RM,GM,CAPTIVA,BEIGE,PE,26000.0,2017-06-14
821645,1713916205,483469641,2021-03-20,4,NT,P,38678.0,LS,AUDI,A3,GREY,PE,24985.0,2015-09-18
2537986,747746659,1221928576,2021-10-11,4,NT,F,56571.0,WF,VOLKSWAGEN,TRANSPORTER,BLUE,DI,24614.0,2000-11-22
2318796,795477519,540242564,2021-09-22,4,NT,P,34218.0,CO,FORD,AUTO-TRAIL,WHITE,DI,24402.0,2001-05-03
1288582,1662636953,696789090,2021-06-02,4,NT,P,160272.0,GU,VOLKSWAGEN,CARAVELLE,RED,DI,23704.0,1997-08-01
1137742,1541292435,333317966,2021-05-10,7,NT,F,110254.0,CF,VAUXHALL,MOVANO,BLUE,DI,22900.0,2011-05-27

In [29] used 0.0 MiB RAM in 0.12s (system mean cpu 6%, single max cpu 73%), peaked 2.0 MiB above final usage, current RAM usage now 1044.8 MiB

## drop rows with nan cylinder capacity - how many left? does groupby do better?

In [30]:
mask = df['cylinder_capacity'].isna()
mask.sum() # nbr of rows to remove

8150

In [30] used 0.0 MiB RAM in 0.10s (system mean cpu 4%, single max cpu 57%), peaked 0.0 MiB above final usage, current RAM usage now 1044.8 MiB

In [31]:
df_nonan_cylcap = df[~mask]
df_nonan_cylcap.shape

(3354378, 14)

In [31] used 409.7 MiB RAM in 0.29s (system mean cpu 8%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 1454.5 MiB

In [32]:
agg_result = df_nonan_cylcap.groupby('make')['cylinder_capacity'].agg(['median', 'size'])
agg_result.query('size > 10').sort_values('median')
#agg_result.query('size == 1').sort_index()

                  median  size
make
CPI                 49.0    34
TOMOS               49.0    16
DIRECT BIKES        49.0   111
BEELINE             49.0    17
EASY RIDER          49.0    28
...                  ...   ...
BENTLEY           5998.0  1901
JENSEN            6276.0    20
ALEXANDER DENNIS  6700.0    19
ROLLS ROYCE       6749.0   532
LEYLAND           9999.0    21

[270 rows x 2 columns]

In [32] used 51.2 MiB RAM in 0.30s (system mean cpu 6%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 1505.7 MiB

In [33]:
%%time

df[~df['cylinder_capacity'].isna()] \
.groupby('make')['cylinder_capacity'].agg(['median', 'size']) \
.query('size > 10').sort_values('median')
#agg_result.query('size == 1').sort_index()

CPU times: user 393 ms, sys: 78.8 ms, total: 472 ms
Wall time: 468 ms

                  median  size
make
CPI                 49.0    34
TOMOS               49.0    16
DIRECT BIKES        49.0   111
BEELINE             49.0    17
EASY RIDER          49.0    28
...                  ...   ...
BENTLEY           5998.0  1901
JENSEN            6276.0    20
ALEXANDER DENNIS  6700.0    19
ROLLS ROYCE       6749.0   532
LEYLAND           9999.0    21

[270 rows x 2 columns]

In [33] used -51.0 MiB RAM in 0.57s (system mean cpu 9%, single max cpu 100%), peaked 434.9 MiB above final usage, current RAM usage now 1454.7 MiB