# Explore with Pandas 1.5 and ydata profiling

Update `DATA_FOLDER` to point at the data, choose a file (I'm using e.g. `files[0]`, `files[1]`, ...), generate a report, then dump it to disk. 

NOTE we have to manually rename the dumped file to match this Notebook name to keep it aligned.

This Notebook takes a 1 million item sample from our files (which might be 3M or much bigger files).

In [18]:
import pandas as pd
import os
import glob
from ydata_profiling import ProfileReport

pd.__version__

'1.5.3'

In [19]:
DATA_FOLDER = '/home/ian/workspace/data/anonymised_mot_tests'
DATA_FOLDER = os.path.join(DATA_FOLDER, 'test_result_2021')
DATA_FOLDER

'/home/ian/workspace/data/anonymised_mot_tests/test_result_2021'

In [23]:
files = glob.glob(DATA_FOLDER+"/*.csv")
files

['/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32355.csv',
 '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32361.csv',
 '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32372.csv',
 '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32367.csv',
 '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32365.csv',
 '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32386.csv',
 '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/tiny.csv',
 '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32357.csv',
 '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32378.csv',
 '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32370.csv',
 '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32360.csv',
 '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32384.csv',
 '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32375.csv']

In [76]:
filename = files[2] # CHOOSE FILE OFFSET HERE FROM THE LIST ABOVE

only_filename = os.path.split(filename)[-1]
only_filename
display((filename, only_filename))

df = pd.read_csv(filename)

('/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32372.csv',
 'test_result_20220531131730_32372.csv')

In [77]:
#pd.to_datetime(df['test_date']) # this field converts ok

In [78]:
#df_shrink = df.copy()

In [79]:
#cat_cols = ['test_class_id', 'test_type', 'test_result', 'postcode_area', 'make', 'model', 'colour', 'fuel_type']
#for cat_col in cat_cols:
#    df_shrink[cat_col] = df[cat_col].astype('category')

In [80]:
#f"{df_shrink.memory_usage(deep=True).sum():,} bytes"

In [81]:
#f"{df_shrink.shape[0]:,}"

In [82]:
#df_shrink.info()

In [83]:
#sample = df_shrink.sample(100)
#from pandas_profiling import ProfileReport
#from ydata_profiling import ProfileReport
#profile = ProfileReport(df, title="Profiling Report")

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3362480 entries, 0 to 3362479
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   test_id            int64
 1   vehicle_id         int64
 2   test_date          object
 3   test_class_id      int64
 4   test_type          object
 5   test_result        object
 6   test_mileage       float64
 7   postcode_area      object
 8   make               object
 9   model              object
 10  colour             object
 11  fuel_type          object
 12  cylinder_capacity  float64
 13  first_use_date     object
dtypes: float64(2), int64(3), object(9)
memory usage: 359.2+ MB

In [85]:
df.describe(include='all')

,test_id,vehicle_id,test_date,test_class_id,test_type,test_result,test_mileage,postcode_area,make,model,colour,fuel_type,cylinder_capacity,first_use_date
count,3.362480e+06,3.362480e+06,3362480,3.362480e+06,3362480,3362480,3.336966e+06,3362480,3362480,3362476,3362480,3362480,3.354313e+06,3362480
unique,NaN,NaN,364,NaN,3,6,NaN,119,2131,13530,20,14,NaN,16277
top,NaN,NaN,2021-09-28,NaN,NT,P,NaN,B,FORD,FIESTA,BLACK,PE,NaN,2017-03-31
freq,NaN,NaN,16339,NaN,2780304,2531384,NaN,96754,486574,147217,643272,1764038,NaN,12579
mean,1.000260e+09,7.499240e+08,NaN,4.027624e+00,NaN,NaN,7.416089e+04,NaN,NaN,NaN,NaN,NaN,1.712048e+03,NaN
std,5.773136e+08,4.330941e+08,NaN,6.211804e-01,NaN,NaN,4.878046e+04,NaN,NaN,NaN,NaN,NaN,6.056690e+02,NaN
min,8.430000e+02,6.880000e+02,NaN,1.000000e+00,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN
25%,5.001196e+08,3.751955e+08,NaN,4.000000e+00,NaN,NaN,3.763900e+04,NaN,NaN,NaN,NaN,NaN,1.349000e+03,NaN
50%,1.000688e+09,7.496258e+08,NaN,4.000000e+00,NaN,NaN,6.566700e+04,NaN,NaN,NaN,NaN,NaN,1.598000e+03,NaN
75%,1.499978e+09,1.125006e+09,NaN,4.000000e+00,NaN,NaN,1.008020e+05,NaN,NaN,NaN,NaN,NaN,1.995000e+03,NaN
max,1.999999e+09,1.500000e+09,NaN,7.000000e+00,NaN,NaN,9.999990e+05,NaN,NaN,NaN,NaN,NaN,6.750000e+04,NaN

In [86]:
df_sample = df.sample(1_000_000)

In [ ]:
# https://github.com/ydataai/ydata-profiling
profile = ProfileReport(df_sample)

profile.to_notebook_iframe()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

In [ ]:
output_filename = f'ydata_profile_{only_filename}.html'
print(f"Writing to: {output_filename}")
# NOTE Ian should manually rename these to mirror this notebook's name
profile.to_file()