# Explore with Pandas

In [6]:
import pandas as pd
import os
import glob
display(pd.__version__)

import ipython_memory_usage as imu
%ipython_memory_usage_start

'2.0.1'

'memory profile enabled'

In [6] used 0.0000 MiB RAM in 0.11s, peaked 0.00 MiB above current, total RAM usage 143.12 MiB

In [8]:
DATA_FOLDER = '/home/ian/workspace/data/anonymised_mot_tests'
DATA_FOLDER = os.path.join(DATA_FOLDER, 'test_result_2021')
#DATA_FOLDER

files = glob.glob(DATA_FOLDER+"/test_result_*.csv")
DATA_FOLDER, files

('/home/ian/workspace/data/anonymised_mot_tests/test_result_2021',
 ['/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32355.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32361.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32372.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32367.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32365.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32386.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32357.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32378.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32370.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32360.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32384.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32375.csv'])

In [8] used 0.0000 MiB RAM in 0.11s, peaked 0.00 MiB above current, total RAM usage 143.12 MiB

In [9]:
#filename = 'test_result_2021/test_result_20220531131730_32355.csv'
filename = files[0]
df = pd.read_csv(filename)

In [9] used 415.9141 MiB RAM in 3.68s, peaked 339.67 MiB above current, total RAM usage 559.03 MiB

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3362528 entries, 0 to 3362527
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   test_id            int64
 1   vehicle_id         int64
 2   test_date          object
 3   test_class_id      int64
 4   test_type          object
 5   test_result        object
 6   test_mileage       float64
 7   postcode_area      object
 8   make               object
 9   model              object
 10  colour             object
 11  fuel_type          object
 12  cylinder_capacity  float64
 13  first_use_date     object
dtypes: float64(2), int64(3), object(9)
memory usage: 359.2+ MB
In [10] used 0.0312 MiB RAM in 0.11s, peaked 0.00 MiB above current, total RAM usage 559.06 MiB

In [11]:
f"{df.memory_usage(deep=True).sum():,} bytes"

'2,005,492,851 bytes'

In [11] used 0.0000 MiB RAM in 2.05s, peaked 0.00 MiB above current, total RAM usage 559.06 MiB

In [12]:
df.sample(5)

,test_id,vehicle_id,test_date,test_class_id,test_type,test_result,test_mileage,postcode_area,make,model,colour,fuel_type,cylinder_capacity,first_use_date
545740,255192661,1308614922,2021-02-25,4,NT,P,78111.0,GL,MERCEDES-BENZ,ML,SILVER,DI,2688.0,2004-05-06
2425370,1506897001,1419426791,2021-09-30,4,NT,P,18393.0,BB,SEAT,ATECA,WHITE,PE,999.0,2018-09-28
2880600,162794693,148405769,2021-11-09,4,NT,P,106758.0,IG,BMW,5 SERIES,SILVER,DI,2993.0,2012-11-20
1653190,1283737375,1271719851,2021-07-15,4,NT,F,45331.0,KA,AUDI,Q3,BLUE,PE,1984.0,2013-03-01
1815548,1726747205,14208730,2021-08-04,4,NT,P,103239.0,BS,VAUXHALL,VIVARO,SILVER,DI,1995.0,2010-08-05

In [12] used 26.8867 MiB RAM in 0.21s, peaked 0.00 MiB above current, total RAM usage 585.95 MiB

In [13]:
df_shrink = df.copy()

In [13] used 359.4297 MiB RAM in 0.30s, peaked 0.00 MiB above current, total RAM usage 945.38 MiB

In [14]:
cat_cols = ['test_class_id', 'test_type', 'test_result', 'postcode_area', 'make', 'model', 'colour', 'fuel_type']
for cat_col in cat_cols:
    df_shrink[cat_col] = df[cat_col].astype('category')

In [14] used 16.1641 MiB RAM in 1.59s, peaked 46.94 MiB above current, total RAM usage 961.54 MiB

In [15]:
f"{df_shrink.memory_usage(deep=True).sum():,} bytes"

'593,478,040 bytes'

In [15] used 0.0039 MiB RAM in 0.52s, peaked 0.00 MiB above current, total RAM usage 961.55 MiB

In [16]:
df_shrink.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3362528 entries, 0 to 3362527
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   test_id            int64
 1   vehicle_id         int64
 2   test_date          object
 3   test_class_id      category
 4   test_type          category
 5   test_result        category
 6   test_mileage       float64
 7   postcode_area      category
 8   make               category
 9   model              category
 10  colour             category
 11  fuel_type          category
 12  cylinder_capacity  float64
 13  first_use_date     object
dtypes: category(8), float64(2), int64(2), object(2)
memory usage: 186.7+ MB
In [16] used 0.8438 MiB RAM in 0.11s, peaked 0.00 MiB above current, total RAM usage 962.39 MiB

In [17]:
import pandera as pa
from pandera import DataFrameSchema, Column, Check, Index, MultiIndex
from pandera.errors import SchemaErrors

VALID_TEST_RESULT = set(['P', 'F', 'PRS', 'ABR', 'ABA', 'ABRVE'])
VALID_TEST_TYPE = set(['NT', 'RT', 'ES'])
VALID_COLOUR = set(['BLACK', 'WHITE', 'SILVER', 'BLUE', 'GREY', 'RED', 'GREEN', 'ORANGE', 'YELLOW', 'BEIGE', \
                   'BROWN', 'PURPLE', 'GOLD', 'BRONZE', 'MAROON','TURQUOISE', 'CREAM', 'PINK', 'MULTI-COLOUR', 'NOT STATED'])
VALID_FUEL_TYPE = set(['PE', 'DI', 'HY', 'EL', 'OT', 'LP', 'ED', 'GB', 'FC', 'CN', 'GA', 'GD','ST', 'LN'])

# by default Column has nullable, coerce, unique, refex == False
# title is not needed nor description

# other checks?
# test_mileage 5th percentile > xxx as most should be "sensible"
# postcode_area xx very rare
# cylinder_capacity typically more than ...
# first_use_date > ... something reasonable


schema = DataFrameSchema(
    columns={
        "test_id": Column(
            dtype="int64",
            checks=[
                #Check.greater_than_or_equal_to(min_value=31563.0),
                #Check.less_than_or_equal_to(max_value=1999897323.0),
            ],
        ),
        "vehicle_id": Column(
            dtype="int64",
            checks=[
                #Check.greater_than_or_equal_to(min_value=108275.0),
                #Check.less_than_or_equal_to(max_value=1499704119.0),
            ],
        ),
        "test_date": Column(
            dtype="object",
        ),
        "test_class_id": Column(
            dtype="int64",
            checks=[
                Check.greater_than_or_equal_to(min_value=1.0),
                Check.less_than_or_equal_to(max_value=7.0),
            ],
        ),
        "test_type": Column(
            dtype="object",
            checks=[pa.Check(lambda s: s.isin(VALID_TEST_TYPE))],
        ),
        "test_result": Column(
            dtype="object",
            checks=[Check(lambda s: s.isin(VALID_TEST_RESULT)),
                    # we normally see 75% pass rate, so test >60%
                    Check(lambda ser: ((ser == 'P').sum() / ser.size) > 0.6)],
        ),
        "test_mileage": Column(
            dtype="float64",
            checks=[
                # we do get 1-10 miles on the clock!
                Check.greater_than_or_equal_to(min_value=1.0),
                Check.less_than_or_equal_to(max_value=999999.0),
            ],
            nullable=True,
        ),
        "postcode_area": Column(
            dtype="object",
            checks=None,
        ),
        "make": Column(
            dtype="object",
            nullable=True,
            checks=[pa.Check(lambda ser: ser.isnull().sum() <= 5)]
        ),
        "model": Column(
            dtype="object",
        ),
        "colour": Column(
            dtype="object",
            checks=[pa.Check(lambda s: s.isin(VALID_COLOUR))],
        ),
        "fuel_type": Column(
            dtype="object",
            checks=[Check(lambda s: s.isin(VALID_FUEL_TYPE))],
        ),
        "cylinder_capacity": Column(
            dtype="float64",
            checks=[
                Check.greater_than_or_equal_to(min_value=0.0),
                Check.less_than_or_equal_to(max_value=60000.0),
            ],
            nullable=True,
        ),
        "first_use_date": Column(
            dtype="object",
        ),
    },
    checks=None,
    index=Index(
        dtype="int64",
        checks=[
            #Check.greater_than_or_equal_to(min_value=1030.0),
            #Check.less_than_or_equal_to(max_value=3362152.0),
        ],
    ),
    dtype=None,
    coerce=True,
    strict=False,
    name=None,
    ordered=False,
    unique=None,
    report_duplicates="all",
    unique_column_names=False,
    title=None,
    description=None,
)

try:
    schema.validate(df, lazy=True)
except SchemaErrors as err:
    print(err.failure_cases)  # dataframe of schema errors
    print(err.data)  # invalid dataframe

In [17] used 420.5078 MiB RAM in 2.69s, peaked 204.78 MiB above current, total RAM usage 1382.90 MiB