# Explore with Pandas

In [1]:
import pandas as pd
display(pd.__version__)

from cell_profiler import cell_profiler as cp
%start_cell_profiler

'2.0.1'

'Profiling enabled'

In [1] used 0.0 MiB RAM in 0.10s (system mean cpu 0%, single max cpu 0%), peaked 0.0 MiB above final usage, current RAM usage now 135.4 MiB

In [2]:
import os
import glob

DATA_FOLDER = '/home/ian/workspace/data/anonymised_mot_tests'
DATA_FOLDER = os.path.join(DATA_FOLDER, 'test_result_2021')
#DATA_FOLDER

files = glob.glob(DATA_FOLDER+"/test_result_*.csv")
filename = files[1]
DATA_FOLDER, files

('/home/ian/workspace/data/anonymised_mot_tests/test_result_2021',
 ['/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32355.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32361.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32372.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32367.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32365.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32386.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32357.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32378.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32370.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32360.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32384.csv',
  '/home/ian/workspace/data/anonymised_mot_tests/test_result_2021/test_result_20220531131730_32375.csv'])

In [2] used 0.0 MiB RAM in 0.10s (system mean cpu 0%, single max cpu 0%), peaked 0.0 MiB above final usage, current RAM usage now 135.4 MiB

In [3]:
#filename = 'test_result_2021/test_result_20220531131730_32355.csv'
#filename = 'test_result_2021/test_result_20220531131730_32357.csv'

df = pd.read_csv(filename)

In [3] used 417.3 MiB RAM in 3.05s (system mean cpu 11%, single max cpu 100%), peaked 307.6 MiB above final usage, current RAM usage now 552.6 MiB

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3363318 entries, 0 to 3363317
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   test_id            int64
 1   vehicle_id         int64
 2   test_date          object
 3   test_class_id      int64
 4   test_type          object
 5   test_result        object
 6   test_mileage       float64
 7   postcode_area      object
 8   make               object
 9   model              object
 10  colour             object
 11  fuel_type          object
 12  cylinder_capacity  float64
 13  first_use_date     object
dtypes: float64(2), int64(3), object(9)
memory usage: 359.2+ MB
In [4] used 0.1 MiB RAM in 0.10s (system mean cpu 0%, single max cpu 0%), peaked 0.0 MiB above final usage, current RAM usage now 552.7 MiB

In [5]:
f"{df.memory_usage(deep=True).sum():,} bytes"

'2,005,968,130 bytes'

In [5] used 0.0 MiB RAM in 1.49s (system mean cpu 9%, single max cpu 93%), peaked 0.0 MiB above final usage, current RAM usage now 552.7 MiB

In [6]:
df.sample(5)

,test_id,vehicle_id,test_date,test_class_id,test_type,test_result,test_mileage,postcode_area,make,model,colour,fuel_type,cylinder_capacity,first_use_date
1090127,765819951,290586268,2021-04-29,4,NT,PRS,21379.0,N,FIAT,500,GREY,PE,1242.0,2011-04-05
1776105,995045147,316918947,2021-07-30,4,NT,P,22855.0,S,BMW,X5,SILVER,PE,4395.0,2015-03-26
2695480,86419621,264822752,2021-10-25,4,NT,F,88497.0,LE,FIAT,DUCATO,WHITE,DI,2800.0,1999-08-07
373859,235296695,630923192,2021-02-08,4,NT,P,48326.0,EN,PEUGEOT,3008,GREY,DI,1560.0,2010-09-07
3359637,979205383,704813190,2021-12-29,4,NT,P,107111.0,BN,NISSAN,MICRA,GREY,PE,1240.0,2003-07-30

In [6] used 27.5 MiB RAM in 0.18s (system mean cpu 4%, single max cpu 70%), peaked 0.0 MiB above final usage, current RAM usage now 580.2 MiB

In [7]:
ser_first_use_date = pd.to_datetime(df['first_use_date'], errors='coerce', yearfirst=True, dayfirst=False)
ser_first_use_date_fmt = pd.to_datetime(df['first_use_date'], format="%Y-%m-%d", errors='coerce')
assert (ser_first_use_date == ser_first_use_date_fmt).all()
# OUCH! NEED TO INVESTIGATE THIS!

#Out of bounds nanosecond timestamp: 1212-09-21 00:00:00, at position 3348704
#OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 4-02-20 00:00:00, at position 904021. You might want to try:
#    - passing `format` if your strings have a consistent format;
#    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
#    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

AssertionError:

In [7] used 57.7 MiB RAM in 0.95s (system mean cpu 9%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 637.9 MiB

In [8]:
ser_test_date = pd.to_datetime(df['test_date'], yearfirst=True) # this field converts ok
ser_test_date_fmt = pd.to_datetime(df['test_date'], format="%Y-%m-%d")
assert (ser_test_date == ser_test_date_fmt).all()

In [8] used 77.1 MiB RAM in 0.47s (system mean cpu 5%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 715.0 MiB

In [9]:
df_shrink = df.copy()

In [9] used 359.4 MiB RAM in 0.25s (system mean cpu 11%, single max cpu 83%), peaked 0.0 MiB above final usage, current RAM usage now 1074.4 MiB

In [10]:
%time df['fuel_type'].value_counts()

CPU times: user 91.1 ms, sys: 992 µs, total: 92.1 ms
Wall time: 90.9 ms

fuel_type
PE    1764402
DI    1536778
HY      48166
EL       9167
OT       2482
LP       1097
ED       1038
GB         90
FC         57
CN         13
GA         13
GD         11
LN          3
ST          1
Name: count, dtype: int64

In [10] used 0.0 MiB RAM in 0.20s (system mean cpu 5%, single max cpu 24%), peaked 0.0 MiB above final usage, current RAM usage now 1074.4 MiB

In [11]:
import pandera as pa

In [11] used 35.2 MiB RAM in 0.37s (system mean cpu 35%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 1109.6 MiB

In [12]:
#sample = df.sample(10000)
#schema = pa.infer_schema(sample)
#print(schema.to_script())

In [12] used 0.0 MiB RAM in 0.10s (system mean cpu 6%, single max cpu 44%), peaked 0.0 MiB above final usage, current RAM usage now 1109.6 MiB

In [13]:
from pandera import DataFrameSchema, Column, Check, Index, MultiIndex
from pandera.errors import SchemaErrors
VALID_TEST_RESULT = set(['P', 'F', 'PRS', 'ABR', 'ABA', 'ABRVE'])
VALID_TEST_TYPE = set(['NT', 'RT', 'ES'])
VALID_COLOUR = set(['BLACK', 'WHITE', 'SILVER', 'BLUE', 'GREY', 'RED', 'GREEN', 'ORANGE', 'YELLOW', 'BEIGE', \
                   'BROWN', 'PURPLE', 'GOLD', 'BRONZE', 'MAROON','TURQUOISE', 'CREAM', 'PINK', 'MULTI-COLOUR', 'NOT STATED'])
VALID_FUEL_TYPE = set(['PE', 'DI', 'HY', 'EL', 'OT', 'LP', 'ED', 'GB', 'FC', 'CN', 'GA', 'GD','ST', 'LN'])

# by default Column has nullable, coerce, unique, refex == False
# title is not needed nor description

# other checks?
# test_mileage 5th percentile > xxx as most should be "sensible"
# postcode_area xx very rare
# cylinder_capacity typically more than ...
# first_use_date > ... something reasonable


schema = DataFrameSchema(
    columns={
        "test_id": Column(
            dtype="int64",
            checks=[
                #Check.greater_than_or_equal_to(min_value=31563.0),
                #Check.less_than_or_equal_to(max_value=1999897323.0),
            ],
        ),
        "vehicle_id": Column(
            dtype="int64",
            checks=[
                #Check.greater_than_or_equal_to(min_value=108275.0),
                #Check.less_than_or_equal_to(max_value=1499704119.0),
            ],
        ),
        "test_date": Column(
            dtype="object",
        ),
        "test_class_id": Column(
            dtype="int64",
            checks=[
                Check.greater_than_or_equal_to(min_value=1.0),
                Check.less_than_or_equal_to(max_value=7.0),
            ],
        ),
        "test_type": Column(
            dtype="object",
            checks=[pa.Check(lambda s: s.isin(VALID_TEST_TYPE))],
        ),
        "test_result": Column(
            dtype="object",
            checks=[Check(lambda s: s.isin(VALID_TEST_RESULT)),
                    # we normally see 75% pass rate, so test >60%
                    Check(lambda ser: ((ser == 'P').sum() / ser.size) > 0.6)],
        ),
        "test_mileage": Column(
            dtype="float64",
            checks=[
                # we do get 1-10 miles on the clock!
                Check.greater_than_or_equal_to(min_value=1.0),
                Check.less_than_or_equal_to(max_value=999999.0),
            ],
            nullable=True,
        ),
        "postcode_area": Column(
            dtype="object",
            checks=None,
        ),
        "make": Column(
            dtype="object",
        ),
        "model": Column(
            dtype="object",
            nullable=True, # 1 case
            checks=[pa.Check(lambda ser: ser.isnull().sum() <= 5)]
        ),
        "colour": Column(
            dtype="object",
            checks=[pa.Check(lambda s: s.isin(VALID_COLOUR))],
        ),
        "fuel_type": Column(
            dtype="object",
            checks=[Check(lambda s: s.isin(VALID_FUEL_TYPE))],
        ),
        "cylinder_capacity": Column(
            dtype="float64",
            checks=[
                Check.greater_than_or_equal_to(min_value=0.0),
                Check.less_than_or_equal_to(max_value=90000.0),
                Check(lambda ser: ser.quantile(0.05) > 500)
            ],
            nullable=True,
        ),
        "first_use_date": Column(
            #dtype="datetime64[ns]",
            dtype='object',
            nullable=True
        ),
    },
    checks=None,
    index=Index(
        dtype="int64",
        checks=[
            #Check.greater_than_or_equal_to(min_value=1030.0),
            #Check.less_than_or_equal_to(max_value=3362152.0),
        ],
    ),
    dtype=None,
    coerce=True,
    strict=False,
    name=None,
    ordered=False,
    unique=None,
    report_duplicates="all",
    unique_column_names=False,
    title=None,
    description=None,
)

try:
    schema.validate(df, lazy=True);
    print("Validated ok")
except SchemaErrors as err:
    print(err.failure_cases)  # dataframe of schema errors
    print(err.data)  # invalid dataframe

#schema.validate(df)

  schema_context             column                           check
0         Column               make                    not_nullable  \
1         Column  cylinder_capacity  less_than_or_equal_to(90000.0)

  check_number  failure_case   index
0         None           NaN  984861
1            1       99999.0   71464
            test_id  vehicle_id   test_date  test_class_id test_type
0        1831612037   761864998  2021-01-01              4        NT  \
1         599284785   116850262  2021-01-01              4        NT
2        1063939289  1032666631  2021-01-01              4        NT
3         552157457   821557154  2021-01-01              4        NT
4         424211999     8574225  2021-01-01              4        NT
...             ...         ...         ...            ...       ...
3363313  1736215679   592314863  2021-12-30              4        NT
3363314  1480324763   179408285  2021-12-30              4        NT
3363315   247997511   387459546  2021-12-30              4        NT
3363316   503888427   508298726  2021-12-30              4        NT
3363317  1096488389    56210182  2021-12-30              4        NT

        test_result  test_mileage postcode_area           make    model
0                 P       88619.0             B     VOLKSWAGEN     GOLF  \
1                 F      113055.0             W        PEUGEOT      207
2                 P       50137.0             W        RENAULT     CLIO
3                 P      140074.0             B         TOYOTA  COROLLA
4                 P      103539.0            GL         TOYOTA    HILUX
...             ...           ...           ...            ...      ...
3363313           P       48190.0            NN  MERCEDES-BENZ  A-CLASS
3363314           P       34420.0            NN     VOLKSWAGEN   TIGUAN
3363315           P       95694.0            SK           SEAT     LEON
3363316           P           NaN            TW        RENAULT   TRAFIC
3363317           F      119327.0            NE          HONDA    CIVIC

         colour fuel_type  cylinder_capacity first_use_date
0        SILVER        DI             1896.0     2007-03-02
1         BLACK        PE             1397.0     2009-12-02
2          GREY        PE              899.0     2015-03-24
3           RED        PE             1794.0     2007-09-11
4        SILVER        DI             2982.0     2015-05-14
...         ...       ...                ...            ...
3363313  SILVER        DI             1461.0     2017-10-09
3363314    BLUE        DI             1968.0     2018-06-28
3363315    GREY        PE             1781.0     2005-05-21
3363316   WHITE        DI             1870.0     2002-03-04
3363317   BLACK        PE             1590.0     2001-03-28

[3363318 rows x 14 columns]
In [13] used 360.9 MiB RAM in 1.79s (system mean cpu 9%, single max cpu 100%), peaked 127.1 MiB above final usage, current RAM usage now 1470.5 MiB

# Some investigation

In [14]:
df.describe()

,test_id,vehicle_id,test_class_id,test_mileage,cylinder_capacity
count,3.363318e+06,3.363318e+06,3.363318e+06,3.338086e+06,3.355367e+06
mean,9.995994e+08,7.499164e+08,4.026832e+00,7.412439e+04,1.712036e+03
std,5.773463e+08,4.330648e+08,6.198452e-01,4.866177e+04,6.081709e+02
min,8.100000e+01,5.720000e+02,1.000000e+00,1.000000e+00,0.000000e+00
25%,4.995695e+08,3.746636e+08,4.000000e+00,3.761700e+04,1.349000e+03
50%,9.990057e+08,7.497875e+08,4.000000e+00,6.561500e+04,1.598000e+03
75%,1.499446e+09,1.125029e+09,4.000000e+00,1.007970e+05,1.995000e+03
max,2.000000e+09,1.500000e+09,7.000000e+00,9.999990e+05,9.999900e+04

In [14] used 0.2 MiB RAM in 0.45s (system mean cpu 8%, single max cpu 100%), peaked 179.3 MiB above final usage, current RAM usage now 1470.7 MiB

## can we get median cylinder values?

In [15]:
# lots of NaN values!
%time df.groupby('make')['cylinder_capacity'].median().sort_values().dropna()

CPU times: user 185 ms, sys: 16.7 ms, total: 202 ms
Wall time: 198 ms

make
AEC ROUTEMASTER        0.0
TESLA                  0.0
CYCLEMASTER           25.0
WPB                   47.0
JUNAK                 48.0
                    ...
SETRA              11956.0
NEWEL              12060.0
IRIZAR             12902.0
KENWORTH           14000.0
NEWELL 39 BH       15000.0
Name: cylinder_capacity, Length: 2061, dtype: float64

In [15] used 0.1 MiB RAM in 0.30s (system mean cpu 6%, single max cpu 80%), peaked 39.9 MiB above final usage, current RAM usage now 1470.7 MiB

In [16]:
df['make'].value_counts().loc['TESLA']

1124

In [16] used 0.0 MiB RAM in 0.20s (system mean cpu 6%, single max cpu 83%), peaked 0.0 MiB above final usage, current RAM usage now 1470.7 MiB

In [17]:
agg_result = df.groupby('make')['cylinder_capacity'].agg(['median', 'size'])
#agg_result.query('size > 10').dropna().sort_values('median')
agg_result.query('size == 1').sort_index()

                    median  size
make
.                   1998.0     1
23 T REPLICA        5000.0     1
72 MOTORCYCLES 961   961.0     1
A K                 6300.0     1
A K SPORTSCARS      5700.0     1
...                    ...   ...
\URAL WOLF           745.0     1
branford            1796.0     1
niesmann+bischoff   2287.0     1
stlocost            1600.0     1
stretton            1994.0     1

[1415 rows x 2 columns]

In [17] used 0.1 MiB RAM in 0.31s (system mean cpu 13%, single max cpu 87%), peaked 32.0 MiB above final usage, current RAM usage now 1470.8 MiB

# Check for high outliers

In [18]:
%time df.query('test_mileage > 900000')

CPU times: user 13.2 ms, sys: 10.1 ms, total: 23.2 ms
Wall time: 14.4 ms

,test_id,vehicle_id,test_date,test_class_id,test_type,test_result,test_mileage,postcode_area,make,model,colour,fuel_type,cylinder_capacity,first_use_date
33745,1297693989,1344432418,2021-01-06,4,NT,F,951754.0,BA,HONDA,JAZZ,SILVER,PE,1339.0,2007-01-16
62254,1614512021,636606532,2021-01-08,4,NT,PRS,999999.0,PO,BMW,3 SERIES,GREY,DI,1995.0,2006-09-29
69845,122850953,1187092340,2021-01-08,4,NT,P,988887.0,NN,CITROEN,C5,SILVER,DI,1560.0,2009-02-25
158987,1749208389,1480182044,2021-01-18,4,NT,F,987593.0,CR,LAND ROVER,DEFENDER,BLACK,DI,2495.0,2006-09-14
166001,1648075641,554252046,2021-01-18,4,RT,P,900857.0,TR,PORSCHE,CAYENNE,BLACK,PE,3189.0,2005-07-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3329220,1033470119,1176507753,2021-12-22,4,RT,P,902476.0,OL,NISSAN,JUKE,WHITE,DI,1461.0,2012-09-21
3330573,1266268489,883822017,2021-12-22,4,RT,P,907368.0,CF,CITROEN,BERLINGO,WHITE,DI,1560.0,2016-01-01
3350016,289212107,1382033673,2021-12-29,4,NT,PRS,912755.0,CB,FIAT,500,WHITE,PE,1242.0,2012-10-30
3351074,400882769,402765766,2021-12-29,4,NT,PRS,904635.0,DA,HONDA,CIVIC,RED,PE,1339.0,2009-07-10
3351860,961151383,537584270,2021-12-23,4,RT,P,906718.0,MK,MERCEDES-BENZ,C,RED,PE,1796.0,2006-11-06

In [18] used 0.0 MiB RAM in 0.12s (system mean cpu 3%, single max cpu 33%), peaked 50.8 MiB above final usage, current RAM usage now 1470.9 MiB

In [19]:
%time df.query('cylinder_capacity > 20000').sort_values('cylinder_capacity', ascending=False)

CPU times: user 18.1 ms, sys: 4.85 ms, total: 23 ms
Wall time: 14.9 ms

,test_id,vehicle_id,test_date,test_class_id,test_type,test_result,test_mileage,postcode_area,make,model,colour,fuel_type,cylinder_capacity,first_use_date
71464,1432013001,591961431,2021-01-08,4,NT,P,63221.0,PA,MORRIS,MINOR,GREEN,PE,99999.0,1964-01-16
2985512,741969579,1628685,2021-11-18,2,NT,P,32269.0,DN,KAWASAKI,UNCLASSIFIED,RED,PE,74500.0,1976-12-30
992380,498699283,517322271,2021-04-13,4,NT,P,8449.0,LU,PEUGEOT,BOXER,GREY,DI,42198.0,2015-09-06
1303352,374453173,599030339,2021-06-03,4,RT,P,2045.0,LE,FIAT,BENIMAR,WHITE,DI,30356.0,2018-06-11
62591,1754700161,296821665,2021-01-08,4,NT,F,47660.0,BH,LAND ROVER,RANGE ROVER SPORT,WHITE,DI,29939.0,2013-10-31
3208980,637654345,704316925,2021-12-08,4,NT,P,NaN,CV,AUDI,A6,BLUE,PE,27771.0,1998-04-06
1728258,501195421,983720044,2021-07-24,4,NT,F,208587.0,S,FIAT,DUCATO,WHITE,DI,25000.0,2000-02-11
3289345,482727923,1446230594,2021-12-17,4,NT,P,90334.0,RM,BMW,Z4,SILVER,PE,24970.0,2006-03-23
270992,1700102771,171604722,2021-01-27,7,RT,P,172900.0,EX,FORD,TRANSIT,WHITE,DI,24023.0,2007-03-01
1690096,713980883,1388328466,2021-07-20,4,NT,P,49089.0,ST,FIAT,DUCATO,WHITE,DI,23000.0,2010-10-21
1245638,1717976171,333317966,2021-05-26,7,NT,P,110278.0,CF,VAUXHALL,MOVANO,BLUE,DI,22900.0,2011-05-27
2934097,1302779949,1064532736,2021-11-15,7,NT,F,141478.0,KY,VAUXHALL,MOVANO,BLUE,DI,22900.0,2011-05-27
1749629,530173721,918254690,2021-07-28,5,NT,F,36282.0,PE,PEUGEOT,BOXER,WHITE,DI,21098.0,2013-05-23

In [19] used 0.0 MiB RAM in 0.12s (system mean cpu 8%, single max cpu 100%), peaked 1.0 MiB above final usage, current RAM usage now 1470.9 MiB

## drop rows with nan cylinder capacity - how many left? does groupby do better?

In [20]:
mask = df['cylinder_capacity'].isna()
mask.sum() # nbr of rows to remove

7951

In [20] used 0.0 MiB RAM in 0.10s (system mean cpu 4%, single max cpu 71%), peaked 0.0 MiB above final usage, current RAM usage now 1470.9 MiB

In [21]:
df_nonan_cylcap = df[~mask]
df_nonan_cylcap.shape

(3355367, 14)

In [21] used 409.4 MiB RAM in 0.30s (system mean cpu 11%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 1880.3 MiB

In [22]:
agg_result = df_nonan_cylcap.groupby('make')['cylinder_capacity'].agg(['median', 'size'])
agg_result.query('size > 10').sort_values('median')
#agg_result.query('size == 1').sort_index()

                  median  size
make
MALAGUTI            49.0    14
MBK                 49.0    14
EASY RIDER          49.0    19
BEELINE             49.0    14
DIRECT BIKES        49.0   109
...                  ...   ...
ALEXANDER DENNIS  6700.0    13
ROLLS ROYCE       6749.0   481
WINNEBAGO         7200.0    16
DENNIS            8268.0    12
LEYLAND           8800.0    20

[267 rows x 2 columns]

In [22] used 25.5 MiB RAM in 0.30s (system mean cpu 17%, single max cpu 91%), peaked 0.0 MiB above final usage, current RAM usage now 1905.8 MiB

In [23]:
%%time

df[~df['cylinder_capacity'].isna()] \
.groupby('make')['cylinder_capacity'].agg(['median', 'size']) \
.query('size > 10').sort_values('median')
#agg_result.query('size == 1').sort_index()

CPU times: user 406 ms, sys: 88.8 ms, total: 495 ms
Wall time: 492 ms

                  median  size
make
MALAGUTI            49.0    14
MBK                 49.0    14
EASY RIDER          49.0    19
BEELINE             49.0    14
DIRECT BIKES        49.0   109
...                  ...   ...
ALEXANDER DENNIS  6700.0    13
ROLLS ROYCE       6749.0   481
WINNEBAGO         7200.0    16
DENNIS            8268.0    12
LEYLAND           8800.0    20

[267 rows x 2 columns]

In [23] used -25.2 MiB RAM in 0.60s (system mean cpu 12%, single max cpu 100%), peaked 409.4 MiB above final usage, current RAM usage now 1880.6 MiB