# Explore with Pandas

In [1]:
import pandas as pd
display(pd.__version__)

import ipython_memory_usage as imu
%ipython_memory_usage_start

'2.0.1'

'memory profile enabled'

In [1] used 0.0000 MiB RAM in 0.11s, peaked 0.00 MiB above current, total RAM usage 135.41 MiB

In [2]:
!ls

0_1_explore_panderaotherfile.ipynb  dft_test_result_2021.zip  test_item_2019
0_explore.ipynb			    docs		      test_item_2020
0_explore_profiling.ipynb	    learnings.txt	      test_item_2021
2_try_polars.ipynb		    README.md		      test_result_2019
dft_test_item_2021.zip		    requirements_pd15.txt     test_result_2020
dft_test_result_2020.zip	    requirements.txt	      test_result_2021
In [2] used 0.4883 MiB RAM in 0.22s, peaked 0.00 MiB above current, total RAM usage 135.89 MiB

In [3]:
ls -lta test_result_2021

total 4346412
drwxrwxr-x 10 ian ian      4096 May  9 10:41 ../
-rw-rw-r--  1 ian ian    109946 May  1 10:00 tiny.csv
drwxrwxr-x  2 ian ian      4096 May  1 10:00 ./
-rw-r--r--  1 ian ian 370591916 May 31  2022 test_result_20220531131730_32355.csv
-rw-r--r--  1 ian ian 370584177 May 31  2022 test_result_20220531131730_32357.csv
-rw-r--r--  1 ian ian 371195101 May 31  2022 test_result_20220531131730_32360.csv
-rw-r--r--  1 ian ian 370681200 May 31  2022 test_result_20220531131730_32361.csv
-rw-r--r--  1 ian ian 371006342 May 31  2022 test_result_20220531131730_32365.csv
-rw-r--r--  1 ian ian 371116837 May 31  2022 test_result_20220531131730_32367.csv
-rw-r--r--  1 ian ian 370669369 May 31  2022 test_result_20220531131730_32370.csv
-rw-r--r--  1 ian ian 370581748 May 31  2022 test_result_20220531131730_32372.csv
-rw-r--r--  1 ian ian 370670092 May 31  2022 test_result_20220531131730_32375.csv
-rw-r--r--  1 ian ian 371339397 May 31  2022 test_result_20220531131730_32378.csv
-rw-r--r--  1 ian ian 371123609 May 31  2022 test_result_20220531131730_32384.csv
-rw-r--r--  1 ian ian 370865904 May 31  2022 test_result_20220531131730_32386.csv
In [3] used 0.0078 MiB RAM in 0.21s, peaked 0.00 MiB above current, total RAM usage 135.90 MiB

In [4]:
#filename = 'test_result_2021/test_result_20220531131730_32355.csv'
filename = 'test_result_2021/test_result_20220531131730_32357.csv'

df = pd.read_csv(filename)

In [4] used 417.0117 MiB RAM in 2.77s, peaked 281.85 MiB above current, total RAM usage 552.91 MiB

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3362449 entries, 0 to 3362448
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   test_id            int64
 1   vehicle_id         int64
 2   test_date          object
 3   test_class_id      int64
 4   test_type          object
 5   test_result        object
 6   test_mileage       float64
 7   postcode_area      object
 8   make               object
 9   model              object
 10  colour             object
 11  fuel_type          object
 12  cylinder_capacity  float64
 13  first_use_date     object
dtypes: float64(2), int64(3), object(9)
memory usage: 359.1+ MB
In [5] used 1.4375 MiB RAM in 0.11s, peaked 0.00 MiB above current, total RAM usage 554.35 MiB

In [6]:
f"{df.memory_usage(deep=True).sum():,} bytes"

'2,005,450,190 bytes'

In [6] used 0.0234 MiB RAM in 1.44s, peaked 0.00 MiB above current, total RAM usage 554.38 MiB

In [7]:
df.sample(5)

,test_id,vehicle_id,test_date,test_class_id,test_type,test_result,test_mileage,postcode_area,make,model,colour,fuel_type,cylinder_capacity,first_use_date
1873659,1449087189,731980517,2021-08-10,4,NT,P,22892.0,BS,KIA,RIO,BLACK,PE,1248.0,2015-03-31
888414,1810928197,841575306,2021-03-26,4,NT,F,70346.0,GL,VAUXHALL,CORSA,BLACK,PE,1364.0,2006-09-28
2508380,108849951,631302308,2021-10-07,4,NT,P,21140.0,LE,HYUNDAI,IX20,SILVER,PE,1396.0,2011-10-26
922141,943082885,828746585,2021-03-31,4,NT,P,80152.0,SY,SKODA,ROOMSTER,SILVER,DI,1598.0,2013-03-01
3266481,102511621,1416986146,2021-12-14,4,NT,F,125806.0,NN,TOYOTA,YARIS,SILVER,PE,1299.0,2001-05-26

In [7] used 25.8711 MiB RAM in 0.20s, peaked 0.00 MiB above current, total RAM usage 580.25 MiB

In [66]:
ser_first_use_date = pd.to_datetime(df['first_use_date'], errors='coerce', yearfirst=True, dayfirst=False)
ser_first_use_date_fmt = pd.to_datetime(df['first_use_date'], format="%Y-%m-%d", errors='coerce')
assert (ser_first_use_date == ser_first_use_date_fmt).all()
# OUCH! NEED TO INVESTIGATE THIS!

#Out of bounds nanosecond timestamp: 1212-09-21 00:00:00, at position 3348704
#OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 4-02-20 00:00:00, at position 904021. You might want to try:
#    - passing `format` if your strings have a consistent format;
#    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
#    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

AssertionError:

In [66] used -101.8203 MiB RAM in 0.84s, peaked 101.82 MiB above current, total RAM usage 2034.36 MiB

In [63]:
ser_test_date = pd.to_datetime(df['test_date'], yearfirst=True) # this field converts ok
ser_test_date_fmt = pd.to_datetime(df['test_date'], format="%Y-%m-%d")
assert (ser_test_date == ser_test_date_fmt).all()

In [63] used 0.0000 MiB RAM in 0.43s, peaked 0.00 MiB above current, total RAM usage 2136.18 MiB

In [10]:
df_shrink = df.copy()

In [10] used 359.2695 MiB RAM in 0.25s, peaked 0.00 MiB above current, total RAM usage 991.29 MiB

In [11]:
%time df['fuel_type'].value_counts()

CPU times: user 91.3 ms, sys: 1.08 ms, total: 92.4 ms
Wall time: 91.6 ms

fuel_type
PE    1763123
DI    1536967
HY      48423
EL       9127
OT       2539
ED       1045
LP       1042
GB         96
FC         47
GA         13
CN         12
GD         11
LN          2
ST          2
Name: count, dtype: int64

In [11] used 0.1094 MiB RAM in 0.20s, peaked 0.00 MiB above current, total RAM usage 991.40 MiB

In [12]:
import pandera as pa

In [12] used 35.9219 MiB RAM in 0.36s, peaked 0.00 MiB above current, total RAM usage 1027.32 MiB

In [13]:
#sample = df.sample(10000)
#schema = pa.infer_schema(sample)
#print(schema.to_script())

In [13] used 0.0039 MiB RAM in 0.10s, peaked 0.00 MiB above current, total RAM usage 1027.32 MiB

In [67]:
from pandera import DataFrameSchema, Column, Check, Index, MultiIndex
from pandera.errors import SchemaErrors
VALID_TEST_RESULT = set(['P', 'F', 'PRS', 'ABR', 'ABA', 'ABRVE'])
VALID_TEST_TYPE = set(['NT', 'RT', 'ES'])
VALID_COLOUR = set(['BLACK', 'WHITE', 'SILVER', 'BLUE', 'GREY', 'RED', 'GREEN', 'ORANGE', 'YELLOW', 'BEIGE', \
                   'BROWN', 'PURPLE', 'GOLD', 'BRONZE', 'MAROON','TURQUOISE', 'CREAM', 'PINK', 'MULTI-COLOUR', 'NOT STATED'])
VALID_FUEL_TYPE = set(['PE', 'DI', 'HY', 'EL', 'OT', 'LP', 'ED', 'GB', 'FC', 'CN', 'GA', 'GD','ST', 'LN'])

# by default Column has nullable, coerce, unique, refex == False
# title is not needed nor description

# other checks?
# test_mileage 5th percentile > xxx as most should be "sensible"
# postcode_area xx very rare
# cylinder_capacity typically more than ...
# first_use_date > ... something reasonable


schema = DataFrameSchema(
    columns={
        "test_id": Column(
            dtype="int64",
            checks=[
                #Check.greater_than_or_equal_to(min_value=31563.0),
                #Check.less_than_or_equal_to(max_value=1999897323.0),
            ],
        ),
        "vehicle_id": Column(
            dtype="int64",
            checks=[
                #Check.greater_than_or_equal_to(min_value=108275.0),
                #Check.less_than_or_equal_to(max_value=1499704119.0),
            ],
        ),
        "test_date": Column(
            dtype="object",
        ),
        "test_class_id": Column(
            dtype="int64",
            checks=[
                Check.greater_than_or_equal_to(min_value=1.0),
                Check.less_than_or_equal_to(max_value=7.0),
            ],
        ),
        "test_type": Column(
            dtype="object",
            checks=[pa.Check(lambda s: s.isin(VALID_TEST_TYPE))],
        ),
        "test_result": Column(
            dtype="object",
            checks=[Check(lambda s: s.isin(VALID_TEST_RESULT)),
                    # we normally see 75% pass rate, so test >60%
                    Check(lambda ser: ((ser == 'P').sum() / ser.size) > 0.6)],
        ),
        "test_mileage": Column(
            dtype="float64",
            checks=[
                # we do get 1-10 miles on the clock!
                Check.greater_than_or_equal_to(min_value=1.0),
                Check.less_than_or_equal_to(max_value=999999.0),
            ],
            nullable=True,
        ),
        "postcode_area": Column(
            dtype="object",
            checks=None,
        ),
        "make": Column(
            dtype="object",
        ),
        "model": Column(
            dtype="object",
            nullable=True, # 1 case
            checks=[pa.Check(lambda ser: ser.isnull().sum() <= 5)]
        ),
        "colour": Column(
            dtype="object",
            checks=[pa.Check(lambda s: s.isin(VALID_COLOUR))],
        ),
        "fuel_type": Column(
            dtype="object",
            checks=[Check(lambda s: s.isin(VALID_FUEL_TYPE))],
        ),
        "cylinder_capacity": Column(
            dtype="float64",
            checks=[
                Check.greater_than_or_equal_to(min_value=0.0),
                Check.less_than_or_equal_to(max_value=90000.0),
                Check(lambda ser: ser.quantile(0.05) > 500)
            ],
            nullable=True,
        ),
        "first_use_date": Column(
            #dtype="datetime64[ns]",
            dtype='object',
            nullable=True
        ),
    },
    checks=None,
    index=Index(
        dtype="int64",
        checks=[
            #Check.greater_than_or_equal_to(min_value=1030.0),
            #Check.less_than_or_equal_to(max_value=3362152.0),
        ],
    ),
    dtype=None,
    coerce=True,
    strict=False,
    name=None,
    ordered=False,
    unique=None,
    report_duplicates="all",
    unique_column_names=False,
    title=None,
    description=None,
)

try:
    schema.validate(df, lazy=True);
    print("Validated ok")
except SchemaErrors as err:
    print(err.failure_cases)  # dataframe of schema errors
    print(err.data)  # invalid dataframe

#schema.validate(df)

Validated ok
In [67] used 179.4023 MiB RAM in 1.66s, peaked 0.00 MiB above current, total RAM usage 2213.77 MiB

# Some investigation

In [21]:
df.describe()

,test_id,vehicle_id,test_class_id,test_mileage,cylinder_capacity
count,3.362449e+06,3.362449e+06,3.362449e+06,3.337179e+06,3.354540e+06
mean,9.997002e+08,7.496022e+08,4.026704e+00,7.415208e+04,1.712014e+03
std,5.777019e+08,4.330285e+08,6.203739e-01,4.871821e+04,6.053732e+02
min,1.045000e+03,8.980000e+02,1.000000e+00,1.000000e+00,0.000000e+00
25%,4.989394e+08,3.745780e+08,4.000000e+00,3.759500e+04,1.349000e+03
50%,9.997725e+08,7.496216e+08,4.000000e+00,6.567800e+04,1.598000e+03
75%,1.500361e+09,1.124544e+09,4.000000e+00,1.008180e+05,1.995000e+03
max,2.000000e+09,1.500000e+09,7.000000e+00,9.999990e+05,8.200000e+04

In [21] used 0.2969 MiB RAM in 0.43s, peaked 128.20 MiB above current, total RAM usage 3395.36 MiB

## can we get median cylinder values?

In [22]:
# lots of NaN values!
%time df.groupby('make')['cylinder_capacity'].median().sort_values().dropna()

CPU times: user 171 ms, sys: 7.97 ms, total: 179 ms
Wall time: 177 ms

make
TESLA              0.0
VECTRIX            2.0
CYCLEMASTER       25.0
SPARTA            30.0
CAMPION           33.0
                ...
MCW            10450.0
VDL BOVA       12902.0
KENWORTH       14000.0
PETERBILT      14600.0
DYNASTY        15000.0
Name: cylinder_capacity, Length: 2049, dtype: float64

In [22] used -25.4531 MiB RAM in 0.28s, peaked 51.11 MiB above current, total RAM usage 3369.91 MiB

In [24]:
df['make'].value_counts().loc['TESLA']

1097

In [24] used 0.0000 MiB RAM in 0.20s, peaked 0.00 MiB above current, total RAM usage 1467.33 MiB

In [25]:
agg_result = df.groupby('make')['cylinder_capacity'].agg(['median', 'size'])
#agg_result.query('size > 10').dropna().sort_values('median')
agg_result.query('size == 1').sort_index()

                       median  size
make
 FIREBIRD SCRAMBLER      65.0     1
 PRIUS                 1798.0     1
1VECO                     NaN     1
50CC SPORTS SCOOTER      50.0     1
519CD1 CHASSIS         2987.0     1
...                       ...   ...
ZUK                    2120.0     1
ampijeep               3000.0     1
delorean dmc           2600.0     1
direct bike  db50qt-a    49.0     1
hymer motorhome        2143.0     1

[1379 rows x 2 columns]

In [25] used 0.2422 MiB RAM in 0.29s, peaked 0.00 MiB above current, total RAM usage 1467.57 MiB

# Check for high outliers

In [26]:
%time df.query('test_mileage > 900000')

CPU times: user 10.4 ms, sys: 4.1 ms, total: 14.5 ms
Wall time: 7.36 ms

,test_id,vehicle_id,test_date,test_class_id,test_type,test_result,test_mileage,postcode_area,make,model,colour,fuel_type,cylinder_capacity,first_use_date
49452,587926529,1417218512,2021-01-07,7,RT,P,936030.0,MK,LDV,MAXUS,WHITE,DI,2500.0,2009-03-03
60046,1890409459,816570558,2021-01-08,4,RT,P,966751.0,SA,SEAT,IBIZA,WHITE,DI,1198.0,2011-11-29
67462,1068536171,513823878,2021-01-08,4,NT,P,999999.0,CA,AUDI,TT,BLACK,PE,1781.0,2003-03-24
99966,1578635037,721762898,2021-01-12,7,NT,P,938020.0,CM,LDV,MAXUS,WHITE,DI,2499.0,2008-05-19
106695,1076798051,1420138910,2021-01-12,4,RT,P,981375.0,E,MITSUBISHI,SHOGUN,BLACK,PE,3497.0,2001-12-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3222665,140386053,665733946,2021-12-10,4,NT,PRS,999999.0,DH,ROVER,75,GREEN,PE,1796.0,2002-07-16
3299701,1003414805,223050626,2021-12-17,4,NT,P,999999.0,KY,VAUXHALL,ASTRA,SILVER,DI,1686.0,2005-08-01
3316123,1480341501,552691814,2021-12-20,4,NT,P,902884.0,SA,LDV,MAXUS 15S 120 MINIBUS,WHITE,DI,2500.0,2008-07-02
3335094,197717431,1016367800,2021-12-22,4,NT,F,910077.0,DY,VAUXHALL,ASTRA,BLACK,PE,1796.0,2007-03-01
3356544,17541903,86909664,2021-12-30,4,NT,P,972976.0,SE,VOLKSWAGEN,GOLF,GREEN,PE,1595.0,2000-01-01

In [26] used 0.0000 MiB RAM in 0.12s, peaked 0.00 MiB above current, total RAM usage 1467.57 MiB

In [27]:
%time df.query('cylinder_capacity > 20000').sort_values('cylinder_capacity', ascending=False)

CPU times: user 14.4 ms, sys: 289 µs, total: 14.7 ms
Wall time: 7.07 ms

,test_id,vehicle_id,test_date,test_class_id,test_type,test_result,test_mileage,postcode_area,make,model,colour,fuel_type,cylinder_capacity,first_use_date
346017,941644379,1269368471,2021-02-04,4,NT,P,83575.0,BB,CADILLAC,ELDARADO,WHITE,PE,82000.0,2019-04-01
660408,897319089,930485857,2021-03-06,7,NT,P,220969.0,SK,RENAULT,PREMIUM L;ANDER 43026 LAN RS25,WHITE,DI,50000.0,2014-09-01
1686207,1112946989,941342097,2021-07-20,4,NT,P,12173.0,NE,AUTOSLEEPERS,UNCLASSIFIED,WHITE,DI,27918.0,2018-07-25
2535783,1545813649,1221928576,2021-10-11,4,RT,P,56571.0,WF,VOLKSWAGEN,TRANSPORTER,BLUE,DI,24614.0,2000-11-22
2264587,1800602119,318361139,2021-09-17,4,NT,P,11226.0,WS,LAND ROVER,DEFENDER,GREEN,DI,24000.0,2010-10-22
2041814,833884901,616714600,2021-08-27,4,NT,P,97680.0,ME,VOLKSWAGEN,TRANSPORTER,GREEN,DI,23704.0,1998-05-12
3311514,1146215263,1208962646,2021-12-20,7,NT,F,139716.0,CA,IVECO,DAILY 35S14 MWB,WHITE,DI,22870.0,2011-03-04
2713068,877113011,809056492,2021-10-26,4,NT,P,51460.0,SY,LAND ROVER,DEFENDER,BLUE,DI,22500.0,1971-04-01
2055287,430270489,792345615,2021-08-31,4,NT,P,30481.0,CA,FORD,RANGER,WHITE,DI,21995.0,2016-08-01
421531,1263878313,1395655135,2021-02-12,4,NT,PRS,98447.0,B,INFINITI,Q50,BLACK,DI,21443.0,2014-10-28
309676,1407985703,674274343,2021-02-01,7,NT,F,4963.0,SP,FIAT,DUCATO,WHITE,DI,20800.0,2020-03-01
443507,1278233951,674274343,2021-02-16,7,NT,P,4966.0,SP,FIAT,DUCATO,WHITE,DI,20800.0,2020-03-01

In [27] used 0.0000 MiB RAM in 0.11s, peaked 0.00 MiB above current, total RAM usage 1467.57 MiB

## drop rows with nan cylinder capacity - how many left? does groupby do better?

In [28]:
mask = df['cylinder_capacity'].isna()
mask.sum() # nbr of rows to remove

8150

In [28] used 0.0273 MiB RAM in 0.11s, peaked 0.00 MiB above current, total RAM usage 1450.50 MiB

In [29]:
df_nonan_cylcap = df[~mask]
df_nonan_cylcap.shape

(3354378, 14)

In [29] used 358.7227 MiB RAM in 0.34s, peaked 0.00 MiB above current, total RAM usage 1809.22 MiB

In [30]:
agg_result = df_nonan_cylcap.groupby('make')['cylinder_capacity'].agg(['median', 'size'])
agg_result.query('size > 10').sort_values('median')
#agg_result.query('size == 1').sort_index()

                  median  size
make
CPI                 49.0    34
TOMOS               49.0    16
DIRECT BIKES        49.0   111
BEELINE             49.0    17
EASY RIDER          49.0    28
...                  ...   ...
BENTLEY           5998.0  1901
JENSEN            6276.0    20
ALEXANDER DENNIS  6700.0    19
ROLLS ROYCE       6749.0   532
LEYLAND           9999.0    21

[270 rows x 2 columns]

In [30] used 25.4023 MiB RAM in 0.41s, peaked 4.02 MiB above current, total RAM usage 1834.62 MiB

In [38]:
%%time

df[~df['cylinder_capacity'].isna()] \
.groupby('make')['cylinder_capacity'].agg(['median', 'size']) \
.query('size > 10').sort_values('median')
#agg_result.query('size == 1').sort_index()

CPU times: user 381 ms, sys: 128 ms, total: 509 ms
Wall time: 506 ms

                  median  size
make
CPI                 49.0    34
TOMOS               49.0    16
DIRECT BIKES        49.0   111
BEELINE             49.0    17
EASY RIDER          49.0    28
...                  ...   ...
BENTLEY           5998.0  1901
JENSEN            6276.0    20
ALEXANDER DENNIS  6700.0    19
ROLLS ROYCE       6749.0   532
LEYLAND           9999.0    21

[270 rows x 2 columns]

In [38] used 0.0000 MiB RAM in 0.61s, peaked 434.85 MiB above current, total RAM usage 1809.52 MiB