# Trial new polars and loading issue

* https://github.com/pola-rs/polars/issues/9001

In [9]:
import polars as pl
# 20230822
pl.__version__

'0.18.15'

In [10]:
path = "/home/ian/workspace/personal/mot_pandas2_polars_dask/test_result.parquet/*"

In [12]:
%time pl.scan_parquet(path).limit(5).collect()

CPU times: user 430 ms, sys: 532 ms, total: 962 ms
Wall time: 353 ms

shape: (5, 14)
┌────────────┬────────────┬───────────┬───────────┬───┬────────┬───────────┬───────────┬───────────┐
│ test_id    ┆ vehicle_id ┆ test_date ┆ test_clas ┆ … ┆ colour ┆ fuel_type ┆ cylinder_ ┆ first_use │
│ ---        ┆ ---        ┆ ---       ┆ s_id      ┆   ┆ ---    ┆ ---       ┆ capacity  ┆ _date     │
│ i64        ┆ i64        ┆ datetime[ ┆ ---       ┆   ┆ str    ┆ str       ┆ ---       ┆ ---       │
│            ┆            ┆ ns]       ┆ i64       ┆   ┆        ┆           ┆ i64       ┆ datetime[ │
│            ┆            ┆           ┆           ┆   ┆        ┆           ┆           ┆ ns]       │
╞════════════╪════════════╪═══════════╪═══════════╪═══╪════════╪═══════════╪═══════════╪═══════════╡
│ 804664368  ┆ 256274986  ┆ 2005-01-0 ┆ 0         ┆ … ┆ SILVER ┆ PE        ┆ null      ┆ null      │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆           │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆           │
│ 392603376  ┆ 633988704  ┆ 2005-01-0 ┆ 0         ┆ … ┆ RED    ┆ PE        ┆ null      ┆ null      │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆           │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆           │
│ 1894843206 ┆ 1320781748 ┆ 2005-01-0 ┆ 0         ┆ … ┆ BLUE   ┆ PE        ┆ null      ┆ null      │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆           │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆           │
│ 830908928  ┆ 1263031090 ┆ 2005-01-0 ┆ 4         ┆ … ┆ BLUE   ┆ PE        ┆ 3528      ┆ 1981-04-0 │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆ 6         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
│ 727535460  ┆ 1123257842 ┆ 2005-01-0 ┆ 4         ┆ … ┆ WHITE  ┆ DI        ┆ 1360      ┆ 1993-08-3 │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆ 1         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
└────────────┴────────────┴───────────┴───────────┴───┴────────┴───────────┴───────────┴───────────┘

In [13]:
%time pl.scan_parquet(path, n_rows=100).limit(5).collect()

CPU times: user 64.4 ms, sys: 41.1 ms, total: 106 ms
Wall time: 88.5 ms

shape: (5, 14)
┌────────────┬────────────┬───────────┬───────────┬───┬────────┬───────────┬───────────┬───────────┐
│ test_id    ┆ vehicle_id ┆ test_date ┆ test_clas ┆ … ┆ colour ┆ fuel_type ┆ cylinder_ ┆ first_use │
│ ---        ┆ ---        ┆ ---       ┆ s_id      ┆   ┆ ---    ┆ ---       ┆ capacity  ┆ _date     │
│ i64        ┆ i64        ┆ datetime[ ┆ ---       ┆   ┆ str    ┆ str       ┆ ---       ┆ ---       │
│            ┆            ┆ ns]       ┆ i64       ┆   ┆        ┆           ┆ i64       ┆ datetime[ │
│            ┆            ┆           ┆           ┆   ┆        ┆           ┆           ┆ ns]       │
╞════════════╪════════════╪═══════════╪═══════════╪═══╪════════╪═══════════╪═══════════╪═══════════╡
│ 804664368  ┆ 256274986  ┆ 2005-01-0 ┆ 0         ┆ … ┆ SILVER ┆ PE        ┆ null      ┆ null      │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆           │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆           │
│ 392603376  ┆ 633988704  ┆ 2005-01-0 ┆ 0         ┆ … ┆ RED    ┆ PE        ┆ null      ┆ null      │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆           │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆           │
│ 1894843206 ┆ 1320781748 ┆ 2005-01-0 ┆ 0         ┆ … ┆ BLUE   ┆ PE        ┆ null      ┆ null      │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆           │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆           │
│ 830908928  ┆ 1263031090 ┆ 2005-01-0 ┆ 4         ┆ … ┆ BLUE   ┆ PE        ┆ 3528      ┆ 1981-04-0 │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆ 6         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
│ 727535460  ┆ 1123257842 ┆ 2005-01-0 ┆ 4         ┆ … ┆ WHITE  ┆ DI        ┆ 1360      ┆ 1993-08-3 │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆ 1         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
└────────────┴────────────┴───────────┴───────────┴───┴────────┴───────────┴───────────┴───────────┘

In [15]:
%time pl.scan_parquet(path, n_rows=100).limit(5).collect(streaming=True)

CPU times: user 13.9 s, sys: 9.05 s, total: 22.9 s
Wall time: 4.04 s

shape: (5, 14)
┌────────────┬────────────┬───────────┬───────────┬───┬────────┬───────────┬───────────┬───────────┐
│ test_id    ┆ vehicle_id ┆ test_date ┆ test_clas ┆ … ┆ colour ┆ fuel_type ┆ cylinder_ ┆ first_use │
│ ---        ┆ ---        ┆ ---       ┆ s_id      ┆   ┆ ---    ┆ ---       ┆ capacity  ┆ _date     │
│ i64        ┆ i64        ┆ datetime[ ┆ ---       ┆   ┆ str    ┆ str       ┆ ---       ┆ ---       │
│            ┆            ┆ ns]       ┆ i64       ┆   ┆        ┆           ┆ i64       ┆ datetime[ │
│            ┆            ┆           ┆           ┆   ┆        ┆           ┆           ┆ ns]       │
╞════════════╪════════════╪═══════════╪═══════════╪═══╪════════╪═══════════╪═══════════╪═══════════╡
│ 1752889486 ┆ 1025799692 ┆ 2009-07-1 ┆ 4         ┆ … ┆ SILVER ┆ DI        ┆ 2498      ┆ 1996-12-3 │
│            ┆            ┆ 3         ┆           ┆   ┆        ┆           ┆           ┆ 0         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
│ 350503908  ┆ 41615524   ┆ 2009-07-1 ┆ 4         ┆ … ┆ WHITE  ┆ PE        ┆ 1587      ┆ 1995-09-2 │
│            ┆            ┆ 3         ┆           ┆   ┆        ┆           ┆           ┆ 9         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
│ 237867528  ┆ 1415653220 ┆ 2009-07-1 ┆ 4         ┆ … ┆ RED    ┆ PE        ┆ 1845      ┆ 1996-12-3 │
│            ┆            ┆ 3         ┆           ┆   ┆        ┆           ┆           ┆ 0         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
│ 1200708364 ┆ 1190113774 ┆ 2009-07-1 ┆ 4         ┆ … ┆ BLUE   ┆ DI        ┆ 1968      ┆ 2005-07-2 │
│            ┆            ┆ 3         ┆           ┆   ┆        ┆           ┆           ┆ 2         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
│ 803701226  ┆ 1033909488 ┆ 2009-07-1 ┆ 4         ┆ … ┆ SILVER ┆ PE        ┆ 1598      ┆ 2004-07-2 │
│            ┆            ┆ 3         ┆           ┆   ┆        ┆           ┆           ┆ 7         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
└────────────┴────────────┴───────────┴───────────┴───┴────────┴───────────┴───────────┴───────────┘

In [17]:
%time pl.scan_parquet(path, n_rows=1000000000).limit(5).collect(streaming=True)
# did complete but used all RAM 64GB and some swap

CPU times: user 4min 37s, sys: 3min 3s, total: 7min 41s
Wall time: 1min 18s

shape: (5, 14)
┌────────────┬────────────┬───────────┬───────────┬───┬────────┬───────────┬───────────┬───────────┐
│ test_id    ┆ vehicle_id ┆ test_date ┆ test_clas ┆ … ┆ colour ┆ fuel_type ┆ cylinder_ ┆ first_use │
│ ---        ┆ ---        ┆ ---       ┆ s_id      ┆   ┆ ---    ┆ ---       ┆ capacity  ┆ _date     │
│ i64        ┆ i64        ┆ datetime[ ┆ ---       ┆   ┆ str    ┆ str       ┆ ---       ┆ ---       │
│            ┆            ┆ ns]       ┆ i64       ┆   ┆        ┆           ┆ i64       ┆ datetime[ │
│            ┆            ┆           ┆           ┆   ┆        ┆           ┆           ┆ ns]       │
╞════════════╪════════════╪═══════════╪═══════════╪═══╪════════╪═══════════╪═══════════╪═══════════╡
│ 1426337873 ┆ 195731533  ┆ 2021-06-0 ┆ 7         ┆ … ┆ BLUE   ┆ DI        ┆ 2143      ┆ 2014-07-1 │
│            ┆            ┆ 8         ┆           ┆   ┆        ┆           ┆           ┆ 8         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
│ 1754036601 ┆ 236131606  ┆ 2021-06-0 ┆ 4         ┆ … ┆ SILVER ┆ PE        ┆ 3200      ┆ 2002-01-1 │
│            ┆            ┆ 9         ┆           ┆   ┆        ┆           ┆           ┆ 6         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
│ 476969709  ┆ 381956220  ┆ 2021-06-0 ┆ 4         ┆ … ┆ GREY   ┆ PE        ┆ 1248      ┆ 2012-04-3 │
│            ┆            ┆ 9         ┆           ┆   ┆        ┆           ┆           ┆ 0         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
│ 1619074419 ┆ 946331588  ┆ 2021-06-0 ┆ 4         ┆ … ┆ BLACK  ┆ DI        ┆ 2495      ┆ 2008-03-3 │
│            ┆            ┆ 9         ┆           ┆   ┆        ┆           ┆           ┆ 1         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
│ 1096645551 ┆ 27223017   ┆ 2021-06-0 ┆ 4         ┆ … ┆ WHITE  ┆ PE        ┆ 1198      ┆ 2013-06-1 │
│            ┆            ┆ 8         ┆           ┆   ┆        ┆           ┆           ┆ 5         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
└────────────┴────────────┴───────────┴───────────┴───┴────────┴───────────┴───────────┴───────────┘

In [16]:
%time pl.scan_parquet(path).limit(5).collect(streaming=True)

CPU times: user 416 ms, sys: 81.6 ms, total: 498 ms
Wall time: 135 ms

shape: (5, 14)
┌────────────┬────────────┬───────────┬───────────┬───┬────────┬───────────┬───────────┬───────────┐
│ test_id    ┆ vehicle_id ┆ test_date ┆ test_clas ┆ … ┆ colour ┆ fuel_type ┆ cylinder_ ┆ first_use │
│ ---        ┆ ---        ┆ ---       ┆ s_id      ┆   ┆ ---    ┆ ---       ┆ capacity  ┆ _date     │
│ i64        ┆ i64        ┆ datetime[ ┆ ---       ┆   ┆ str    ┆ str       ┆ ---       ┆ ---       │
│            ┆            ┆ ns]       ┆ i64       ┆   ┆        ┆           ┆ i64       ┆ datetime[ │
│            ┆            ┆           ┆           ┆   ┆        ┆           ┆           ┆ ns]       │
╞════════════╪════════════╪═══════════╪═══════════╪═══╪════════╪═══════════╪═══════════╪═══════════╡
│ 804664368  ┆ 256274986  ┆ 2005-01-0 ┆ 0         ┆ … ┆ SILVER ┆ PE        ┆ null      ┆ null      │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆           │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆           │
│ 392603376  ┆ 633988704  ┆ 2005-01-0 ┆ 0         ┆ … ┆ RED    ┆ PE        ┆ null      ┆ null      │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆           │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆           │
│ 1894843206 ┆ 1320781748 ┆ 2005-01-0 ┆ 0         ┆ … ┆ BLUE   ┆ PE        ┆ null      ┆ null      │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆           │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆           │
│ 830908928  ┆ 1263031090 ┆ 2005-01-0 ┆ 4         ┆ … ┆ BLUE   ┆ PE        ┆ 3528      ┆ 1981-04-0 │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆ 6         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
│ 727535460  ┆ 1123257842 ┆ 2005-01-0 ┆ 4         ┆ … ┆ WHITE  ┆ DI        ┆ 1360      ┆ 1993-08-3 │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆ 1         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
└────────────┴────────────┴───────────┴───────────┴───┴────────┴───────────┴───────────┴───────────┘

In [8]:
%%time
# caused machine to lock-up!
#pl.scan_parquet(path, n_rows=1000000000).limit(5).collect()

CPU times: user 1e+03 ns, sys: 1e+03 ns, total: 2 µs
Wall time: 5.01 µs

# Diagnostics

In [84]:
dfp = pl.scan_parquet(path).limit(50_000).collect()
dfp.shape

(50000, 14)

In [85]:
dfp.head(5)

shape: (5, 14)
┌────────────┬────────────┬───────────┬───────────┬───┬────────┬───────────┬───────────┬───────────┐
│ test_id    ┆ vehicle_id ┆ test_date ┆ test_clas ┆ … ┆ colour ┆ fuel_type ┆ cylinder_ ┆ first_use │
│ ---        ┆ ---        ┆ ---       ┆ s_id      ┆   ┆ ---    ┆ ---       ┆ capacity  ┆ _date     │
│ i64        ┆ i64        ┆ datetime[ ┆ ---       ┆   ┆ str    ┆ str       ┆ ---       ┆ ---       │
│            ┆            ┆ ns]       ┆ i64       ┆   ┆        ┆           ┆ i64       ┆ datetime[ │
│            ┆            ┆           ┆           ┆   ┆        ┆           ┆           ┆ ns]       │
╞════════════╪════════════╪═══════════╪═══════════╪═══╪════════╪═══════════╪═══════════╪═══════════╡
│ 804664368  ┆ 256274986  ┆ 2005-01-0 ┆ 0         ┆ … ┆ SILVER ┆ PE        ┆ null      ┆ null      │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆           │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆           │
│ 392603376  ┆ 633988704  ┆ 2005-01-0 ┆ 0         ┆ … ┆ RED    ┆ PE        ┆ null      ┆ null      │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆           │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆           │
│ 1894843206 ┆ 1320781748 ┆ 2005-01-0 ┆ 0         ┆ … ┆ BLUE   ┆ PE        ┆ null      ┆ null      │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆           │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆           │
│ 830908928  ┆ 1263031090 ┆ 2005-01-0 ┆ 4         ┆ … ┆ BLUE   ┆ PE        ┆ 3528      ┆ 1981-04-0 │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆ 6         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
│ 727535460  ┆ 1123257842 ┆ 2005-01-0 ┆ 4         ┆ … ┆ WHITE  ┆ DI        ┆ 1360      ┆ 1993-08-3 │
│            ┆            ┆ 1         ┆           ┆   ┆        ┆           ┆           ┆ 1         │
│            ┆            ┆ 00:00:00  ┆           ┆   ┆        ┆           ┆           ┆ 00:00:00  │
└────────────┴────────────┴───────────┴───────────┴───┴────────┴───────────┴───────────┴───────────┘

In [99]:
dfp.select('test_class_id').to_series().value_counts(sort=True)

shape: (7, 2)
┌───────────────┬────────┐
│ test_class_id ┆ counts │
│ ---           ┆ ---    │
│ i64           ┆ u32    │
╞═══════════════╪════════╡
│ 4             ┆ 39681  │
│ 0             ┆ 8798   │
│ 7             ┆ 746    │
│ 2             ┆ 559    │
│ 1             ┆ 138    │
│ 5             ┆ 54     │
│ 3             ┆ 24     │
└───────────────┴────────┘

In [86]:
dfp.select('test_class_id').to_series().value_counts().sort(by='counts', descending=True)

shape: (7, 2)
┌───────────────┬────────┐
│ test_class_id ┆ counts │
│ ---           ┆ ---    │
│ i64           ┆ u32    │
╞═══════════════╪════════╡
│ 4             ┆ 39681  │
│ 0             ┆ 8798   │
│ 7             ┆ 746    │
│ 2             ┆ 559    │
│ 1             ┆ 138    │
│ 5             ┆ 54     │
│ 3             ┆ 24     │
└───────────────┴────────┘

In [87]:
#dfp.lazy().select('test_class_id').to_series().value_counts().sort(by='counts', descending=True).collect()
# AttributeError: 'LazyFrame' object has no attribute 'to_series'

In [88]:
#dfp.lazy().select('test_class_id').value_counts().collect()
# AttributeError: 'LazyFrame' object has no attribute 'value_counts'
# https://github.com/pola-rs/polars/issues/8933

In [89]:
#dfp.groupby(by='make').agg([pl.col('cylinder_capacity').count(), pl.col('cylinder_capacity').median()])

#DuplicateError: column with name 'cylinder_capacity' has more than one occurrences
#Error originated just after this operation:
#DF ["test_id", "vehicle_id", "test_date", "test_class_id"]; PROJECT */14 COLUMNS; SELECTION: "None"

In [90]:
dfp.groupby(by='make').agg([pl.col('cylinder_capacity').count().alias('cyl_size'), pl.col('cylinder_capacity').median().alias('cyl_median')])

shape: (441, 3)
┌──────────┬──────────┬────────────┐
│ make     ┆ cyl_size ┆ cyl_median │
│ ---      ┆ ---      ┆ ---        │
│ str      ┆ u32      ┆ f64        │
╞══════════╪══════════╪════════════╡
│ WOLSELEY ┆ 1        ┆ 1489.0     │
│ LTI TAXI ┆ 1        ┆ null       │
│ CCM      ┆ 1        ┆ null       │
│ HUSKY    ┆ 1        ┆ null       │
│ …        ┆ …        ┆ …          │
│ VAUXALL  ┆ 3        ┆ null       │
│ SUBURU   ┆ 1        ┆ null       │
│ AUID     ┆ 1        ┆ 2598.0     │
│ FAIT     ┆ 6        ┆ null       │
└──────────┴──────────┴────────────┘

In [91]:
import pandas as pd
display(pd.__version__)
path_pandas = "/home/ian/workspace/personal/mot_pandas2_polars_dask/test_result.parquet/part.0.parquet"
df = pd.read_parquet(path_pandas).head(50_000)
display(df.shape)
df.head(5)

'2.0.1'

(50000, 14)

,test_id,vehicle_id,test_date,test_class_id,test_type,test_result,test_mileage,postcode_area,make,model,colour,fuel_type,cylinder_capacity,first_use_date
0,804664368,256274986,2005-01-01,0,NT,P,23459,TF,FORD,UNCLASSIFIED,SILVER,PE,<NA>,NaT
1,392603376,633988704,2005-01-01,0,NT,P,40961,E,LOTUS,UNCLASSIFIED,RED,PE,<NA>,NaT
2,1894843206,1320781748,2005-01-01,0,NT,P,16416,S,VAUXHALL,UNCLASSIFIED,BLUE,PE,<NA>,NaT
3,830908928,1263031090,2005-01-01,4,NT,P,93318,W,LAND ROVER,109 V8 S.W.,BLUE,PE,3528,1981-04-06
4,727535460,1123257842,2005-01-01,4,NT,P,121930,RG,CITROEN,AX,WHITE,DI,1360,1993-08-31

In [92]:
df.groupby('make')['cylinder_capacity'].agg(['count', 'median'])

           count  median
make
306            0    <NA>
320            0    <NA>
620            0    <NA>
AC             1    1971
ACCENT         0    <NA>
...          ...     ...
WOLSELEY       1    1489
WOLSWAGEN      0    <NA>
YAMAHA       123     599
YOYOTA         0    <NA>
YUGO           1    1116

[441 rows x 2 columns]

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   test_id            50000 non-null  int64[pyarrow]
 1   vehicle_id         50000 non-null  int64[pyarrow]
 2   test_date          50000 non-null  datetime64[ns]
 3   test_class_id      50000 non-null  int64[pyarrow]
 4   test_type          50000 non-null  string
 5   test_result        50000 non-null  string
 6   test_mileage       48994 non-null  int64[pyarrow]
 7   postcode_area      50000 non-null  string
 8   make               50000 non-null  string
 9   model              49999 non-null  string
 10  colour             50000 non-null  string
 11  fuel_type          50000 non-null  string
 12  cylinder_capacity  41112 non-null  int64[pyarrow]
 13  first_use_date     44000 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64[pyarrow](5), string(7)
memory usage: 5.2 MB

In [103]:
df['test_date'].dt.day_of_week.value_counts(ascending=True)

test_date
6     198
5    4963
0    8051
1    8216
2    9003
3    9589
4    9980
Name: count, dtype: int64

In [94]:
#https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.dayofweek.html#pandas.Series.dt.dayofweek
#https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.dayofweek.html
df['test_date'].dt.day_of_week.value_counts().sort_index()

test_date
0    8051
1    8216
2    9003
3    9589
4    9980
5    4963
6     198
Name: count, dtype: int64

In [117]:
# https://pola-rs.github.io/polars/py-polars/html/reference/expressions/api/polars.Expr.dt.weekday.html
# https://arrow.apache.org/docs/python/generated/pyarrow.compute.day_of_week.html
dfp.select('test_date').with_columns(pl.col('test_date').dt.weekday()).to_series().value_counts(sort=True)

shape: (7, 2)
┌───────────┬────────┐
│ test_date ┆ counts │
│ ---       ┆ ---    │
│ u32       ┆ u32    │
╞═══════════╪════════╡
│ 5         ┆ 9980   │
│ 4         ┆ 9589   │
│ 3         ┆ 9003   │
│ 2         ┆ 8216   │
│ 1         ┆ 8051   │
│ 6         ┆ 4963   │
│ 7         ┆ 198    │
└───────────┴────────┘

In [113]:
dfp.with_columns(pl.col('test_date').dt.weekday().alias('day')).select('day').to_series()\
.value_counts().sort(by='counts', descending=True)

shape: (7, 2)
┌─────┬────────┐
│ day ┆ counts │
│ --- ┆ ---    │
│ u32 ┆ u32    │
╞═════╪════════╡
│ 5   ┆ 9980   │
│ 4   ┆ 9589   │
│ 3   ┆ 9003   │
│ 2   ┆ 8216   │
│ 1   ┆ 8051   │
│ 6   ┆ 4963   │
│ 7   ┆ 198    │
└─────┴────────┘

In [ ]:
dfp.with_columns(pl.col('test_date').dt.weekday().alias('day')).select('day').to_series()\
.value_counts().sort(by='counts', descending=True)